@import '../../../stylus_lib'

#edit-hero-section
  width body-width + (controls-padding * 2)
  margin 150px auto 20px auto
  .edit-section-tool:only-child:not([data-state-open="true"])
    fill-color gray-color
    &::after
      display none
    &:hover
      fill-color black

  .edit-section-container[data-type=video], .edit-section-container[data-type=image]
    width 1100px
    .esv-controls-container
      height 243px
    .esv-nav, .esv-background-color
      display none
    .edit-section-video
      iframe
        min-height 590px
    .esic-img-container
      padding 20px
    .edit-section-image
      z-index 1
    .edit-section-container-bg
      z-index -1

  .edit-section-container[data-type=image]
    left calc(50% - 410px)
  .edit-section-container[data-type=video]
    left calc(50% - 550px)

#edit-hero-section
  .edit-section-tool-menu
    li
      width 50%
    li:first-child:nth-last-child(3),
    li:first-child:nth-last-child(3) ~ li
      width 33.3%