@import '../../components/stylus_lib'

.verticals-item
  clearfix()
  border-bottom 1px solid gray-lighter-color
  padding 20px 0
  img
    width 150px
    margin-right 20px
    vertical-align center
    background gray-lighter-color
    min-height 100px
  img, .verticals-item-text-container
    display inline-block
    vertical-align middle
  h2
    garamond(l-body)
  h3
    avant-garde(s-headline)

.verticals-add
  width 100%
  padding 10px 0
  margin-top 20px