@import '../../components/stylus_lib'

.verticals-add, .verticals-save
  width 100%
  padding 15px 0

.verticals-add
  margin-top 20px

.verticals-delete
  margin-top 10px
  color gray-dark-color
  border 0
  text-align left
  padding 20px 0
  &:hover
    color red-color