include ../../components/paginated_list/index

extend ../../components/layout/templates/index

block header
  | Verticals

block content
  .max-width-container
    button.avant-garde-button.avant-garde-button-black.verticals-add Add Vertical
    +paginated-list(page, totalPages, verticals.toPaginatedListItems())