.EditContent[data-layout='series']
  border-left 1px solid gray-darker-color
  padding-bottom 0

  .loading-spinner
    background white

  .TextNav
    background white  
    ::after
      border-top-color white 

.EditSeries
  position relative
  padding 100px 20px 200px
  .SeriesTitle, .SeriesAbout
    .public-DraftEditorPlaceholder-root
      position absolute
      left 0
      right 0
      color gray-color
    .public-DraftEditorPlaceholder-inner:after
      content ' *'
      color red-color
      position absolute

  .ProgressBar
    position fixed
    top 95px
    left 0
    right 0
    z-index 1

  &__bg-input
    position absolute
    top 20px
    right 20px
    .file-input.simple .file-input__upload-container
      height inherit
      min-height 0
      max-height 100%
      width 235px
      z-index 1
      padding 0
      background none
      text-align right
      h1
        font-size 13px
      h2
        display none
