.EditSeries
  padding 100px 20px
  .SeriesTitle, .SeriesAbout
    .public-DraftEditorPlaceholder-root
      position absolute
      left 0
      right 0
      color gray-color
    .public-DraftEditorPlaceholder-inner:after
      content ' *'
      color red-color
      position absolute
