.EditContent[data-layout='series']
    background black
    border-left 1px solid gray-darker-color
    .loading-spinnter
      background white

.EditSeries
  padding 100px 20px
  .SeriesTitle, .SeriesAbout
    .public-DraftEditorPlaceholder-root
      position absolute
      left 0
      right 0
      color gray-color
    .public-DraftEditorPlaceholder-inner:after
      content ' *'
      color red-color
      position absolute
