@import '../stylus_lib'

.error-modal
  position relative
  padding-left 60px
  margin 0 !important
  &::before
    content '!'
    color red-color
    width 33px
    height @width
    line-height @width
    border-radius @width
    border 1px solid red-color
    position absolute
    top 0
    left 0
    text-align center
    font-size 25px
    font-weight bold
  &[data-state=report]
    .error-modal-report
      display block
    .error-modal-alert
      display none

.error-modal-alert
  h1
    avant-garde()
    font-size default-avant-garde-font-size
    margin-bottom 20px
  h2
    garamond()
    line-height 1.4em
    margin-bottom 30px

.error-modal-buttons
  text-align right
  button:first-child
    margin-right 10px

.error-modal-report
  display none

.error-modal-report-textarea
  height 100px
  margin 20px 0
  width 100%