.error-modal-alert
  h1= title
  h2= body
  button.error-modal-report-button Report
  button.error-modal-close Ok
.error-modal-report
  p Please describe what you were doing when this error occured:
  textarea.error-modal-report-textarea
  button.error-modal-close Cancel
  button.error-modal-report-send Send
