section.error-modal-alert
  h1!= title
  h2!= body
  pre
  .error-modal-buttons
    button.error-modal-report-button.avant-garde-button Report
    button.error-modal-close.avant-garde-button.avant-garde-button-dark Try again later
