@import '../../../components/stylus_lib'
@import '../client/curations/gucci'
@import '../client/curations/venice'
@import '/authors'
@import '/editorial_features'
@import '/tags'

#channel-edit__users
  input
    width 100%

.channel-edit
  &__metadata
    button
      margin-top 20px
      width 100%
      position relative
  &__links-item
    margin-top 20px
    width 50%
  &__header
    avant-garde('body')
    margin-bottom 10px

.settings__item-link
  garamond('l-body')
  text-decoration none
  display block
  margin-top 20px
  padding-bottom 20px
  border-bottom 1px solid gray-lighter-color
  &:hover
    color gray-darker-color
  &:last-of-type
    border-bottom none

.curation--admin-container
  margin-top 80px

  button.save-curation
    position fixed
    top 10px
    right calc(50vw + 55px - (1120px / 2)) // align button to right container edge
    z-index 110
