@import '../../../stylus_lib'

.SectionImages
  .RemoveButton
    position absolute
    top -12px
    right -12px
    height 30px
    width 30px
    circle
      transition all .3s
    &:hover
      cursor pointer
      circle
        fill red-color
  [data-target=true] .RemoveButton
    display none

  .EditImage
    position relative
    padding-bottom 30px
    max-width 100%
    margin-right 30px
    &:last-child
      margin-right 0

  &.single .EditImage
    margin 0 auto 30px auto

.SectionImages__list
  position relative
  z-index -1
  display flex
  justify-content center
  .drag-container
    display flex
    justify-content center
  .drag-target
    max-width 100%
    margin-right 30px
    &:last-child
      margin-right 0
  &[data-overflow=true] // for image sets with many images
    .drag-container
      flex-wrap wrap
    .drag-target
      margin-right 30px
      margin-left 0

.SectionImages .edit-controls
  &__artwork-inputs
    padding-top controls-padding
    margin-bottom 20px
    input
      background white
      border-color white
      margin-bottom 0
  .InputArtworkUrl
    button
      position relative
      display inline-block
      width 75px
      font-size small-avant-garde-font-size + 1
      height 40px
      background-color gray-lighter-color
    input
      width calc(100% - 75px)
  &__image-set-inputs
    color white
    avant-garde()
    font-size 13px
    align-items center
    input
      margin-bottom 0
    .inputs
      display flex
      width calc(50% - 15px)
    .layout-inputs
      display flex
      margin-left 20px
    .input-group
      display flex
      align-items center
      margin-right 20px
      .radio-input
        border 2px solid white
        width 16px
        height 16px
        border-radius 50%
        margin-right 10px
        position relative
        &[data-active=true]::after
          content ''
          background white
          width .6em
          height .62em
          border-radius 50%
          border 1px solid black
          position absolute
          left 1px
          top 1px

.SectionContainer[data-type=image_collection],
.SectionContainer[data-type=image_set]
  padding-bottom 0
  &[data-editing=true]
    // override section drag list to allow image dragging
    .SectionImages__list
      z-index 2 !important

.SectionContainer[data-layout=column_width]
  .SectionImages__list,
  .SectionImages__list .drag-container
    flex-direction column
  .EditImage
    width 100%
    margin-right 0

[data-layout='standard']
  .SectionContainer[data-type=image_set][data-editing=true]
    max-width standard-overflow-w-margin

[data-layout='feature']
  .SectionContainer[data-type=image_set][data-editing=true]
    max-width feature-overflow-w-margin
    margin 0 auto
  .SectionContainer[data-type=image_collection][data-layout=fillwidth]
    .drag-container
      flex-direction column
      .drag-target
        min-width 100%
    .EditImage
      width 100%
      min-width 100%
    .SectionImages .RemoveButton
      top 20px
      right 20px
      circle
        fill gray-color
      &:hover circle
        fill red-color

[data-layout='classic']
  .SectionContainer[data-type=image_set][data-editing=true]
    max-width classic-overflow-w-margin
