.filter-search
  &__header-container
    display flex
    border-bottom 1px solid gray-lighter-color
    padding-bottom 20px
    justify-content space-between
  &__input
    width 350px
  &__header-text
    garamond('headline')
