.filter-search
  &__container[data-type='tag']
    .filter-search__input
      width 280px
  &__header-container
    display flex
    border-bottom 1px solid gray-lighter-color
    padding-bottom 20px
    justify-content space-between
  &__input
    width 350px
    padding-left 36px
    background url("/icons/search.svg") 9px 9px no-repeat
    background-size 20px
  &__header-text
    garamond('headline')
