thumbnail-width = 145px

.filter-search
  &__result
    cursor default
  &__checkcircle
    width 18px
    height 18px
    display inline-block
    margin-right 20px
    vertical-align middle
    cursor pointer
    svg
      fill-color gray-color
    &:hover
      svg
        fill-color black
  &__article
    width "calc(100% - %s)" % (thumbnail-width + 20px)
    display inline-block
    cursor default
    &:hover
      opacity 1
  &__header-container
    display flex
    border-bottom 1px solid gray-lighter-color
    padding-bottom 20px
    justify-content space-between
  &__input
    width 350px
  &__header-text
    garamond('headline')
