@import '../../node_modules/artsy-ezel-components/spinners'
@import '../../stylus_lib'

.avant-garde-button
  avant-garde()
  padding 12px 25px
  border 1px solid gray-lighter-color
  background transparent
  font-size default-avant-garde-font-size - 1
  outline none
  transition background-color 0.25s, color 0.25s, border-color 0.25s
  text-decoration none
  line-height 1
  display inline-block
  cursor pointer
  margin 0
  &:hover, &:active
    color purple-color
  &:disabled, &.is-disabled, &[data-disabled=true]
    background gray-lighter-color
    color gray-dark-color
    cursor not-allowed
  &.avant-garde-button-dark
    background gray-darkest-color
    border-color gray-darkest-color
    color white
    &:hover, &:active, &:focus
      background purple-color
      border-color purple-color
  &[data-state='loading'], &.is-loading
    &, &[disabled], &[disabled]:hover
      background-color purple-color
      color transparent !important
      // Note:
      // Giving the loading state to input[type='submit']
      // or input[type='button'] will *not* display a spinner.
      // These elements don't support psuedo-elements.
      &::before
        display block
        content ''
        spinner(25px, 6px, #fff)

.button-reset
  margin 0
  background transparent
  border 0
  padding 0
  outline none
  avant-garde()
  font-size default-avant-garde-font-size
  line-height default-avant-garde-font-size

.invisible-input
  background transparent
  garamond()
  font-size default-garamond-font-size
  border 0
  outline none
  margin 0

input-placeholder()
  color gray-dark-color
  transition color 0.3s

.bordered-input
  margin 0
  padding 5px 8px 7px 8px
  border 2px solid gray-lighter-color
  border-radius 0
  box-shadow none
  garamond()
  font-size default-garamond-font-size
  background-color transparent
  transition border-color 0.3s
  outline none
  placeholder(input-placeholder)
  &.is-active, &:active, &:focus
    border-color purple-color
  &.bordered-input-dark
    border-color white
    background white
    &.is-active, &:active, &:focus
      border-color white

label.bordered-input-loading
  position relative
  &::after
    display block
    content ''
    spinner(20px, 5px, purple-color)
    left inherit
    right 8px
    top 15px

.dashed-file-upload-container
  position relative
  border 2px dashed gray-lighter-color
  cursor pointer
  transition border-color 0.3s, color 0.3s
  input
    width 100%
    height 100%
    display block
    position absolute
    opacity 0
    top 0
    left 0
    cursor pointer
  &:hover, &.is-dragover
    border-color purple-color
  &.is-dragover
    .dashed-file-upload-container-drop
      color purple-color
  &:hover
    .dashed-file-upload-container-click
      color purple-color

.upload-progress-container
  width 200px
  height 4px
  position absolute
  top "calc(50% - %s / 2)" % @height
  left "calc(50% - %s / 2)" % @width
  background white
  z-index 3

.upload-progress
  height 100%
  background purple-color
  min-width 10%
  transition width 0.5s

.scribe-plugin-link-tooltip button
  @extend .avant-garde-button

.scribe-plugin-link-tooltip input
  @extend .bordered-input