@import '../../stylus_lib'
@import './sidebar'
@import './form_elements'
@import './simple_modal'

global-reset()

body
  garamond()
  min-width 300px

*
  box-sizing border-box

a
  color black

strong
  font-weight bold

em
  font-style italic

#layout-content
  padding-left sidebar-width
  padding-bottom 100px

.page-header
  avant-garde()
  font-size default-avant-garde-font-size
  padding 20px 0
  border-bottom 1px solid gray-lighter-color

.max-width-container
  max-width overflow-width + 60px
  padding 0 30px
  margin auto

#layout-hamburger
  vertical-align middle
  font-style normal
  color #000
  text-align left
  text-indent -9999px
  direction ltr
  width 20px
  height 4px
  box-shadow inset 0 0 0 7px,0 -7px,0 7px
  margin 24px 0 0 15px

#layout-hamburger-container
  width 53px
  position absolute
  top 0
  left 0
  display none
  height 100%
  border-right 1px solid gray-lighter-color
  cursor pointer

#intercom-container
  .intercom-sheet-header
    padding 5px 0 !important
  .intercom-sheet-header-title
    line-height 63px !important
    font-size 15px !important

::selection
  background purple-color
  color white

// Responsive pagination styling. TODO: Move to artsy-ezel-components
@media (max-width: 414px)
  .bordered-pagination
    position relative
    ul, li
      border 0 !important
    li a
      display none !important
      &.paginator-previous, &.paginator-next
        display block !important
        border 2px solid gray-lighter-color
        position absolute
      &.paginator-previous
        left 0
      &.paginator-next
        right 0

@media (max-width: 414px)
  #layout-hamburger-container
    display inline-block
  .page-header
    padding 20px 20px 20px 55px
    position relative
  #layout-content
    min-width 0
  .max-width-container
    padding 0 20px

