@import '../../stylus_lib'

triangle-size = 12px

#layout-sidebar
  background black
  color white
  position fixed
  top 0
  left 0
  width sidebar-width
  height 100%
  text-align center
  padding-top 20px
  z-index 8
  a:not(#layout-sidebar-home), #layout-sidebar-profile
    display block
    margin-top 40px
    avant-garde(s-headline)
    color gray-dark-color
    transition color 0.3s
    text-decoration none
    &:hover, &.is-active
      cursor pointer
      color white
      svg
        fill-color white

  svg
    width 22px
    display inline-block
    margin-bottom 10px
  a[href*=sections] svg
    width 30px
  a[href*=settings] svg
    width 33px
  a[href*=queue] svg
    width 33px
  a#layout-sidebar-queue:hover svg, a#layout-sidebar-queue.is-active svg
    ellipse
      fill black
      stroke white

#layout-sidebar-new-article
  margin-top 15px !important
  svg
    width 26px
    margin-left 3px

#layout-sidebar-help svg
  width 14px

#layout-sidebar-home
  garamond()
  font-weight bold
  text-decoration none
  color white
  svg
    width 38px
    height 38px
    fill-color white

#layout-sidebar-profile
  position relative
  word-wrap break-word
  &:hover
    img
      opacity 1
      filter none
    #layout-sidebar-profile-menu
      display block
  svg
    width 40px
    height @width
    display inline-block
    margin-bottom 10px
    filter grayscale(100%)
    transition filter 0.3s ease-in-out, opacity 0.3s ease-in-out
    opacity 0.8
  #layout-sidebar-profile-menu
    position absolute
    width 232px
    background black
    left sidebar-width
    border-left 20px solid white
    text-align left
    top -55px
    padding 15px
    display none
    &::before
      content '.'
      color transparent
      width 0
      height 0
      border-top triangle-size solid transparent
      border-bottom triangle-size solid transparent
      border-right triangle-size solid black
      left -(triangle-size)
      position absolute
      top 68px
    a
      color white
      padding 15px
      margin 2px
      &:hover
        background-color gray-darkest-color
  #layout-sidebar-profile-menu.has-only-child
    top 0px
    &::before
      top 34px

@media (max-width: 414px)
  #layout-sidebar-container
    max-height 0
    overflow hidden
    transition max-height 0.4s ease-in-out
    &.is-active
      max-height 700px
  #layout-sidebar
    width 100%
    position relative
  #layout-sidebar-home, #layout-sidebar-new-article
    display none !important
  #layout-content
    padding-left 0px !important
  #layout-sidebar
    padding 20px
    text-align left
    border-bottom 1px solid gray-darkest-color
    a
      margin 30px 0 !important
      position relative
      padding-left 50px
      &[href='/articles?published=false']
        margin-top 0 !important
      svg
        display block
        position absolute
        left 0
  #layout-sidebar-profile img
    float right
  #layout-sidebar-profile-menu
    left 0 !important
    position relative !important
    top 0 !important
    border 0 !important
    display block !important
    padding 0 !important
    &::before
      display none !important
    a
      padding 0 !important
      &:last-child
        margin-bottom 10px !important
  #layout-sidebar #layout-sidebar-profile
    border-top 1px solid gray-darkest-color
    padding-top 35px
    garamond()
    font-weight bold
    font-size default-garamond-font-size
    text-transform initial
    letter-spacing 0
    font-weight bold
    color white
    br
      display none
