@import '../../stylus_lib'

#layout-sidebar
  background black
  color white
  position fixed
  top 0
  left 0
  width sidebar-width
  height 100%
  text-align center
  padding-top 20px
  z-index 5
  a:not(#layout-sidebar-home), #layout-sidebar-profile
    display block
    margin-top 40px
    avant-garde()
    font-size 10px
    color gray-dark-color
    transition color 0.3s
    text-decoration none
    &:hover, &.is-active
      cursor pointer
      color white
      svg
        fill-color white
  svg
    width 22px
    display inline-block
    margin-bottom 10px
    fill-color gray-dark-color
  a[href*=contributors] svg
      width 32px

#layout-sidebar-new-article
  margin-top 30px !important
  svg
    width 26px
    margin-left 3px

#layout-sidebar-help svg
  width 14px

#layout-sidebar-home
  garamond()
  font-weight bold
  text-decoration none
  color white
  svg
    width 40px
    height 40px
    fill-color white

#layout-sidebar-profile
  position relative
  &:hover
    img
      opacity 1
      filter none
      -webkit-filter none
    #layout-sidebar-profile-menu
      display block
  img
    border-radius 100px
    width 50px
    display inline-block
    margin-bottom 10px
    filter grayscale(100%)
    -webkit-filter grayscale(100%)
    transition filter 0.3s
    -webkit-transition -webkit-filter 0.3s ease
  #layout-sidebar-profile-menu
    position absolute
    width 180px
    background black
    left sidebar-width + 20
    text-align left
    top -25px
    padding 8px
    display none
    &::before
      content '.'
      color transparent
      background url(/images/layout_profile_menu_arrow.svg) center center no-repeat
      height 30px
      width 19px
      display block
      position absolute
      left -17px
      padding 33px 0
    a
      color white
      padding 10px
      margin 2px
      &:hover
        background-color gray-darkest-color


@media (max-width: 600px)
  #layout-sidebar-container
    max-height 0
    overflow hidden
    transition max-height 0.4s ease-in-out
    &.is-active
      max-height 400px
  #layout-sidebar
    width 100%
    position relative
  #layout-sidebar-home, #layout-sidebar-new-article, [href='/contributors']
    display none !important
  #layout-content
    padding-left 0px !important
  #layout-sidebar
    padding 20px
    text-align left
    border-bottom 1px solid gray-darkest-color
    a
      margin 30px 0 !important
      position relative
      padding-left 50px
      &[href='/articles?published=false']
        margin-top 0 !important
      svg
        display block
        position absolute
        left 0
  #layout-sidebar-profile img
    float right
  #layout-sidebar-profile-menu
    left 0 !important
    position relative !important
    top 0 !important
    border 0 !important
    display block !important
    &::before
      display none !important
    a
      padding 0 !important
      &:last-child
        margin-bottom 10px !important
  #layout-sidebar #layout-sidebar-profile
    border-top 1px solid gray-darkest-color
    padding-top 35px
    garamond()
    font-weight bold
    font-size default-garamond-font-size
    text-transform initial
    letter-spacing 0
    font-weight bold
    color white
    br
      display none
