Unica(size = 's19', family = 'regular')
  font-smoothing antialiased
  if family == 'regular'
    font-family 'Unica77LLWebRegular', 'Arial', 'serif'
  else if family == 'italic'
    font-family 'Unica77LLWebItalic', 'Arial', 'serif'
  else if family == 'medium'
    font-family 'Unica77LLWebMedium', 'Arial', 'serif'
  else if family == 'mediumItalic'
    font-family 'Unica77LLWebMediumItalic', 'Arial', 'serif'
  if size == 's130'
    font-size 130px
    line-height 1.1em
  else if size == 's100'
    font-size 100px
    line-height 1.1em
  else if size == 's80'
    font-size 80px
    line-height 1.1em
  else if size == 's69'
    font-size 69px
    line-height 1em
  else if size == 's40'
    font-size 40px
    line-height 1.1em
  else if size == 's19'
    font-size 19px
    line-height 1.5em
  else if size == 's14'
    font-size 14px
    line-height 1.1em

AvantGarde(size = 's13')
  font-family 'ITC Avant Garde Gothic W04', 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif'
  font-smoothing antialiased
  text-transform uppercase
  letter-spacing 1px
  if size == 's11'
    font-size 11px
    line-height 1.1em
  else if size == 's13'
    font-size 13px
    line-height 1.1em

Garamond(size = 's15')
  font-family 'Adobe Garamond W08', 'adobe-garamond-pro', 'AGaramondPro-Regular', 'Times New Roman', 'Times', 'serif'
  font-smoothing antialiased
  if size == 's50'
    font-size 50px
    line-height 1.1em
  else if size == 's40'
    font-size 40px
    line-height 1.1em
  else if size == 's23'
    font-size 23px
    line-height 1.5em
  else if size == 's17'
    font-size 17px
    line-height 1.1em
  else if size == 's15'
    font-size 15px
    line-height 1.25em
