.edit-display__prev-search
  include ../icons/text_placeholder.svg
  include ../icons/text_placeholder.svg
  .edit-display__prev-search--result
    .edit-display__prev-search--headline= article.getThumbnailTitle('search_title')
    .edit-display__prev-search--slug= article.getFullSlug()
    .edit-display__prev-search--dd
      span
        =article.date('published_at').format('ll') + " - "
      =article.getDescription('search_description')
  include ../icons/text_placeholder.svg
  include ../icons/text_placeholder.svg
