.Autocomplete
  position relative
  z-index 4
  input
    padding-left 36px
    width 100%
    &[disabled]
      background-color gray-lightest-color !important
  &__icon
    position absolute
    top 7px
    left 3px
  &__results
    border-left 1px solid gray-lighter-color
    border-right 1px solid gray-lighter-color
    position absolute
    z-index 10
    width 100%
  &__results-bg
      position fixed
      left 0
      right 0
      top 0
      bottom 0
      opacity 0
      z-index -1
  &__item
    padding 10px
    background white
    color black
    display flex
    align-items center
    garamond l-body
    border-bottom 1px solid gray-lighter-color
    min-height 50px
    z-index 3
    &:hover
      background gray-lightest-color
      cursor pointer
    &--empty
      background gray-lighter-color
      color gray-darker-color
  &__item-img
    width 45px
    height 45px
    margin-right 15px
    background gray-lighter-color
    img
      height 45px
      width 45px
      object-fit cover

.Autocomplete--inline
  position relative
  display flex
  flex-wrap wrap
  padding 5px 10px 0 10px
  margin-top 5px
  border 2px solid gray-lighter-color
  min-height 40px
  &[data-focus=true]
    border-color purple-color
  .bordered-input
    border none
    padding 0
    margin-top 0
  .Autocomplete
    flex 1
    position initial
  .Autocomplete__icon
    display none
  .Autocomplete__results
    width calc(100% + 4px)
    top calc(100% + 2px)
    left -2px
  .Autocomplete__item-img
    display none
  button
    height 20px
    width 15px
    margin-left 5px
    background transparent center center no-repeat url(/icons/remove.svg)
    background-size 8px
    border none
    &:hover
      cursor pointer
      background-image url(/icons/remove_r.svg)
  .Autocomplete__list
    display flex
  .Autocomplete__list-item
    width initial
    display flex
    align-items center
    background gray-lighter-color
    margin 0 10px 5px 0px
    border-radius 2px
    line-height 1em
    padding 3px 5px 3px 10px
    text-transform capitalize
