@import '../stylus_lib'

.edit-section-image
  position relative

.edit-section-image .edit-section-controls
  background black
  left -(controls-padding)
  display none
  z-index 2
  width 1100px

.esi-placeholder
  text-align center
  color gray-darker-color
  height 200px
  line-height @height

.edit-section-container[data-type=image]
  padding 0
  &[data-editing=true]
    .edit-section-controls
      display block

    .esi-inputs
      padding 20px
      color #fff
      background #000
      border-top 1px solid #333

.esi-preview
  padding 20px

.esi-image
  width 100%
  transition opacity 0.5s

.esi-inline-caption
  color gray-darker-color
  garamond l-caption
  a
    color gray-darker-color

#edit-thumbnail-upload
  position relative
  .upload-progress-container
    display none

.esi-caption-container
  .rich-text--caption
    flex-direction column-reverse
    &__input
      width 100%
      border 1px solid gray-darker-color
      color white
      garamond s-body
      a
        color white
        border-bottom 1px solid
      .public-DraftEditorPlaceholder-root
        width calc(100% \- 30px)
        text-align center
    &__actions
      width 100%
      .italic
        text-align right
        padding-right 20px
      .link
        text-align left
        margin-left 10px
  .rich-text--url-input
    margin-top 40px
    background-color gray-darkest-color
    button.add-link::after
      border-bottom-color gray-darkest-color
