@import '../stylus_lib'

.edit-section-image
  position relative

.edit-section-image .edit-section-controls
  fill-container()
  avant-garde()
  background black
  color white
  height 118px
  top -(@height + controls-padding)
  left -(controls-padding)
  padding controls-padding
  text-align center
  display none
  z-index 2
  width overflow-width
  h1
    font-size default-avant-garde-font-size
  h2
    font-size small-avant-garde-font-size
    color gray-darker-color
    margin-top 10px

.dashed-file-upload-container
  padding controls-padding

.esi-placeholder
  text-align center
  color gray-darker-color
  height 200px
  line-height @height

.edit-section-controls .dashed-file-upload-container
  transition none
  border-color gray-darker-color
  span
    transition none
  &:hover, &.is-dragover
    border-color white
    span
      color gray-darker-color
  &.is-dragover
    .dashed-file-upload-container-drop
      color white
  &:hover
    border 2px solid
    .dashed-file-upload-container-click
      color white

.edit-section-container[data-state-editing=true]
  .edit-section-controls
    display block

.esi-image
  width 100%
  transition opacity 0.5s

#edit-thumbnail-upload
  position relative
  .upload-progress-container
    display none
