@import '../../../stylus_lib'

[data-layout='feature']
  .SectionContainer[data-type=image_collection][data-layout=fillwidth]
    .drag-container
      flex-direction column
      .drag-target
        min-width 100%
