//- Icons that can be used client-side. Not namespaced b/c the clases are
//- essentially keys used to look up the inner svg html and not actually used.
.text
  include ../public/icons/edit_menu_text.svg
.artworks
  include ../public/icons/edit_menu_artworks.svg
.image
  include ../public/icons/edit_menu_image.svg
.video
  include ../public/icons/edit_menu_video.svg
.section-tool
  include ../public/icons/edit_section_tool.svg
.section-tool-close
  include ../public/icons/edit_section_tool_close.svg
.remove
  include ../public/icons/edit_section_remove.svg