.edit-section-list
.edit-section-tool( data-state-open='false' )
  .edit-section-tool-icon
  ul.edit-section-tool-menu
    li.edit-section-tool-text Text
    li.edit-section-tool-artworks Artworks
    li.edit-section-tool-image Image
    li.edit-section-tool-video Video