.edit-admin--verticals-tags
  button.avant-garde-button
    margin 5px 8px 8px 0px
    border-radius 1px
    padding 13px 15px
    &.disabled
      background-color gray-lightest-color
      &:hover
        color black

  .fields-left
    .avant-garde-button.avant-garde-button-black:hover,
    .avant-garde-button.avant-garde-button-black:focus,
    button:active
      background black
      border-color black
    .field-group:first-child
      margin-bottom 30px
