.edit-controls
  background black
  z-index 5
  height auto
  top inherit
  width 100%
  max-width calc(100vw \- 110px)
  margin-left -20px
  &__layout
    width 100%
    text-align center
    height 45px
  &__inputs
    padding 0 20px 20px
    h2
      color white
      avant-garde()
      font-size 11px
      margin-bottom 10px
    input
      width 100%
      margin-bottom 20px

#edit-content .edit-controls a
  display inline-block
  height 40px
  width @height + 20px
  background-repeat no-repeat
  background-position 50%
  transition opacity 0.3s
  opacity 0.5
  cursor pointer
  &:hover
    opacity 1
  &[data-active=true]
    opacity 1
  &[name=fillwidth]
    svg
      margin-bottom 9px
  &[name=overflow_fillwidth]
    background-image url(/icons/edit_artworks_overflow_fillwidth.svg)
    background-size 38px
  &[name=column_width]
    background-image url(/icons/edit_artworks_column_width.svg)
    background-size 22px
  &[name=image_set]
    background-image url(/icons/edit_image_set_slideshow.svg)
    background-size 22px

[data-layout='standard'] .SectionContainer
  &[data-layout=column_width] .edit-controls
    max-width standard-body-w-margin
  &[data-layout=overflow_fillwidth],
  &[data-type=image_set]
    .edit-controls
      max-width standard-overflow-w-margin

[data-layout='classic']
  .SectionContainer
    &[data-layout=column_width] .edit-controls
      max-width classic-body-w-margin
    &[data-layout=overflow_fillwidth],
    &[data-type=image_set]
      .edit-controls
        max-width classic-overflow-w-margin
  .edit-section--hero
    .SectionContainer
      &[data-layout=column_width]
      &[data-layout=overflow_fillwidth]
        .edit-controls
          min-width calc(100% + 40px)
          margin-top -20px
          margin-bottom 30px
          padding-top 20px

[data-layout='feature'] .SectionContainer
  &[data-layout=column_width] .edit-controls
    max-width feature-body-w-margin
  &[data-layout=fillwidth] .edit-controls
    margin-left 0
  &[data-layout=overflow_fillwidth],
  &[data-type=image_set]
    .edit-controls
      max-width feature-overflow-w-margin
