@import '../../stylus_lib'

.pagination
  border 2px solid gray-color
  display inline-block
  li
    border-right 1px solid gray-color
    display inline-block
    width 40px
    height @width
    text-align center
    line-height @height