@import '../stylus_lib'

form-height = 150px

fill-form()
  fill-container()
  top -2px
  left -2px
  width calc(100% + 4px)
  height @width

.image-upload-form
  border 2px dashed gray-lighter-color
  padding 10px
  text-align center
  position relative
  height form-height
  transition border-color 0.3s ease-in-out
  &:hover
    h1, h1, span
      color gray-color
    .image-upload-form-click
      color purple-color
    .type-error, .size-error
      color red-light-color
  &[data-state=uploading]
    .image-upload-form-preview, .image-upload-form-progress-container
      display block
  &[data-state=loaded]
    .image-upload-form-preview, .image-upload-form-remove
      display block
  &.is-dragover
    border-color purple-color
    h1, h1, span
      color gray-color
    .image-upload-form-drop
      color purple-color
    .type-error, .size-error
      color red-light-color
  h1, h2, span
    avant-garde(s-headline)
    color gray-dark-color
    transition color 0.3s ease-in-out 0s
  h1
    margin-top (form-height / 2 - 30px)
  h2
    margin-top 3px
    color gray-color
  .type-error, .size-error
    display none
    color red-color
    transition color 0.3s ease-in-out 0s
  &[data-error=type]
    .type-error
      display block
  &[data-error=size]
    .size-error
      display block
  .RemoveButton
    position absolute
    right -10px
    top -10px
    width 30px
    height 30px
    &:hover circle
      fill red-color

.image-upload-form-input
  fill-form()
  z-index 2
  opacity 0
  cursor pointer

.image-upload-form-preview
  fill-form()
  background gray-lighter-color center center no-repeat
  background-size cover
  z-index 1
  display none
  overflow hidden
  video
    width 100%
    height 100%
    object-fit cover
    object-position center
  .video-error
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    background rgba(0,0,0,.35)
    color white
    display flex
    justify-content center
    align-items center
    padding 20px

.image-upload-form-remove
  font-family Helvetica, Arial, sans-serif !important
  top -2px
  right -2px
  width 30px
  height @width
  line-height 20px
  position absolute
  z-index 3
  background black
  color white
  font-size 26px
  text-align center
  padding 2px
  display none
  transition background-color 0.3s ease-in-out
  cursor pointer
  &:hover
    background-color red-color

.image-upload-form-progress-container
  width 70%
  margin auto
  height 4px
  top 50%
  left calc(50% - 35%)
  margin-top -(@height / 2)
  background white
  position absolute
  z-index 1
  display none

.image-upload-form-progress
  fill-container()
  min-width 3px
  background purple-color
  transition width 0.2s ease-out
