{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "useBuiltIns": "usage"
    }],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "inline-react-svg",
    "lodash",
    ["module-resolver", {
      "extensions": [".js", ".jsx", ".mjs", ".ts", ".tsx" ],
      "root": ["./src"]
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["styled-components", {
          "ssr": true
        }],
        "react-hot-loader/babel"
      ]
    }
  }
}
