{
  "presets": [
    "react",
    "stage-3",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "babel-plugin-rewire",
    "inline-react-svg",
    "transform-runtime",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./"]
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["styled-components", {
          "ssr": true
        }]
      ]
    }
  }
}
