NODE_ENV=development
PORT=3005
APP_NAME=positron-staging
APP_URL=http://localhost:3005
API_URL=http://localhost:3005/api
FORCE_URL=https://staging.artsy.net
ARTSY_URL=https://stagingapi.artsy.net
SESSION_SECRET=p0s1tr0n
MONGOHQ_URL=mongodb://localhost:27017/positron
TECH_SUPPORT=craig@artsymail.com
DEBUG=api,client,app
SALT=$2a$10$PJrPMBadu1NPdmnshBgFbe
API_MAX=100
API_PAGE_SIZE=10

ARTSY_ID=REPLACE
ARTSY_SECRET=REPLACE
EMBEDLY_KEY=REPLACE
GEMINI_KEY=REPLACE
SEGMENT_WRITE_KEY=REPLACE