lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
.DS_Store
dump.rdb
.DS_Store
.env
.env.ignore

data

/public
/src/client/public/assets
/node_modules

coverage.lcov
.nyc_output/
