lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
.DS_Store
dump.rdb
.DS_Store
.env*
.cache

/public
/src/client/public/assets
/node_modules

# Codecov
coverage*
.nyc_output/

cypress.env.json
Brewfile.lock.json

# Do not ignore
!.env.example
!.env.test
!.env.oss
