@import '../stylus_lib'

play-button-size = 30px
short-input-width = 290px
wide-input-width = 640px

.edit-section-video .esv-controls-container
  fill-container()
  display none
  z-index 3
  height 334px
  top -(@height)
  background black

.esv-nav
  text-align center

.esv-inputs
  padding controls-padding
  color white
  background black
  border-top 1px solid gray-darkest-color
  > h2
    avant-garde()
    font-size 11px
    margin-bottom 10px
  input
    width 100%
    margin 0 0 controls-padding 0
  button
    border 0
    position relative
    top 1px

.esv-nav a
  display inline-block
  height 40px
  width @height + 20px
  background no-repeat center center
  transition opacity 0.3s
  opacity 0.5
  cursor pointer
  &:hover
    opacity 1
  &:last-of-type
    border-right 0
  background-repeat no-repeat !important
  background-position center !important

.esv-background-color.flat-radio-button
  margin-top 10px
  h2
    avant-garde()
    font-size 11px
  label
    avant-garde()
    font-size 11px
    margin-right 10px
  input
    width 17px
    height 17px
    margin 4px 5px 0 0
    border-radius 10px
    z-index 3
    background-color white

[data-useragent*=Firefox] .edit-section-video .edit-section-controls input
  width 397px

.esv-placeholder
  height 150px
  line-height @height
  text-align center
  color gray-dark-color

.edit-section-container[data-editing=true]
  .esv-controls-container
    display block
  .edit-section-video iframe
    position relative
    z-index 2

.esv-cover-image
  width 100%
  min-height 50px
  background gray-lightest-color
  max-width 1100px

.esv-cover-image-container
  position relative

.esv-cover-image-play-container
  background white
  width play-button-size + 40px
  height @width
  position absolute
  top "calc(50% - %s)" % (@width / 2)
  left "calc(50% - %s)" % (@width / 2)

.esv-cover-image-play
  width 0
  height 0
  top 14px
  left 22px
  position absolute
  border-top (play-button-size - 10) solid transparent
  border-bottom (play-button-size - 10) solid transparent
  border-left play-button-size solid black

//
// Varying layouts
//
.edit-section-container[data-layout=column_width]
  nav .esv-column-width
    opacity 1
  iframe
    width 100%

.edit-section-container[data-layout=overflow_fillwidth][data-type=video]
  width 1100px
  left -240px
  min-height 400px
  .edit-section-video
    width calc(100vw - 110px)
    margin-left calc(1220px + ((100vw - 1270px)/2) - 100vw)
    img, iframe
      margin-left calc(100vw - (1220px + ((100vw - 1270px)/2)))
  nav .esv-overflow-fillwidth
    opacity 1
  .esv-inputs
    .bordered-input
      width 100%
