@import '../stylus_lib'

artwork-img-bottom = 10px
short-input-width = 290px
wide-input-width = 640px

.edit-section-artworks-container
  nav a
    display inline-block
    height 40px
    width @height + 20px
    background no-repeat center center
    transition opacity 0.3s
    opacity 0.5
    cursor pointer
    &:hover
      opacity 1
    &:last-of-type
      border-right 0

.esa-controls-container
  fill-container()
  background black
  z-index 3
  height 282px
  top -(@height)
  text-align center
  display none

.esa-inputs
  color white
  padding controls-padding
  text-align left
  border-top 1px solid gray-darkest-color
  h1
    font-weight bold
    margin-bottom controls-padding
  label
    display block
    margin-bottom controls-padding
    position relative
    span, input, textarea
      display inline-block
      vertical-align top
    input, textarea
      position absolute
      right 0
    span
      margin-top 10px
  .esa-by-urls-container
    display inline-block
    position absolute
    right 0
    textarea, button
      position relative
      display block
      width 100%
    button
      font-size small-avant-garde-font-size + 1
  .esa-by-urls-container, input
    width short-input-width

.esa-empty-placeholder
  text-align center
  color gray-dark-color
  height 100px
  line-height @height

.esa-artworks-list
  li
    margin-bottom 30px
    position relative
    &:last-child
      margin-bottom 0
    p
      color gray-dark-color
      line-height 20px
      overflow ellipsis
  img
    background gray-lighter-color

.esa-artworks-list .edit-section-remove
  display none
  &:hover svg
    fill-color red-color
  svg
    fill-color black

.edit-section-container[data-editing=true]
  .esa-controls-container, .esa-artworks-list .edit-section-remove
    display block

.esa-autocomplete-menu
  width short-input-width
  position absolute
  right 0
  background white
  z-index 2
  overflow ellipsis
  top 37px
  li
    padding 10px
    border 1px solid gray-color
    border-bottom 0
    color black
    cursor pointer
    transition background-color 0.3s
    &:last-child
      border-bottom 1px solid gray-color
    &.is-active
      background gray-color
  img
    background gray-lighter-color
    width 100%
  span
    margin-top 18px

.esa-thumbnail-container
  height 40px
  width 40px
  overflow hidden
  margin-right 10px

.esa-thumbnail-container, .esa-thumbnail-right
  display inline-block
  vertical-align top

.esa-thumbnail-right
  line-height 1.4em

.esa-urls-error
  color red-color
  width 200px
  position absolute
  top 28px
  line-height 21px

//
// Varying layouts
//
.edit-section-container[data-layout=column_width]
  nav .esa-column-width
    opacity 1
  .esa-artworks-list
    img
      width 100%
      margin-bottom artwork-img-bottom

.edit-section-container[data-layout=overflow_fillwidth]
  nav .esa-overflow-fillwidth
    opacity 1
  .esa-by-urls-container, input, .esa-autocomplete-menu
    width wide-input-width
  .esa-artworks-list
    text-align center
    li
      display inline-block
      vertical-align top
      padding 0 10px artwork-img-bottom 10px
      text-align left
      &:last-child
        padding-right 0
        padding-left 20px
        .edit-section-remove
          right -15px
      &:first-child
        padding-left 0
        padding-right 20px
        .edit-section-remove
          right 5px
    img
      max-width 100%
    .esa-img-container
      padding-bottom artwork-img-bottom
    .edit-section-remove
      right -5px
