@import '../stylus_lib'

.edit-section-artworks-container
  nav a
    display inline-block
    height 40px
    width @height + 20px
    background no-repeat center center
    border-right 1px solid gray-darkest-color
    transition opacity 0.3s
    opacity 0.5
    &:last-of-type
      border-right 0
  &[data-layout=column_width] nav .esa-column-width
    opacity 1
  &[data-layout=overflow_fillwidth] nav .esa-overflow-fillwidth
    opacity 1

.esa-controls-container
  fill-container()
  background black
  z-index 3
  height 285px
  top -(@height)
  text-align center
  display none

.esa-inputs
  color white
  padding controls-padding
  text-align left
  border-top 1px solid gray-darkest-color
  h1
    font-weight bold
    margin-bottom controls-padding
  label
    display block
    margin-bottom controls-padding
    position relative
    span, input, textarea
      display inline-block
      vertical-align top
    input, textarea
      background white
      border-color white
      position absolute
      right 0
    span
      margin-top 10px
  .esa-by-urls-container
    display inline-block
    position absolute
    right 0
    textarea, button
      position relative
      display block
      width 100%
    button
      font-size small-avant-garde-font-size + 1
  .esa-by-urls-container, input
    width 290px

.esa-empty-placeholder
  text-align center
  color gray-dark-color
  height 100px
  line-height @height

.edit-section-artworks-container[data-layout=column_width] .esa-artworks-list
  li
    margin-bottom 30px
    position relative
    &:last-child
      margin-bottom 0
    img
      width 100%
      margin-bottom 5px
    p
      color gray-dark-color
      line-height 20px

.esa-artworks-list .edit-section-remove
  display none
  &:hover svg
    fill-color red-color
  svg
    fill-color black

.esa-spinner-container
  position relative
  width 100%
  height 100px

.edit-section-container[data-state-editing=true]
  .esa-controls-container, .esa-artworks-list .edit-section-remove
    display block

.esa-autocomplete-menu
  width 290px
  position absolute
  right 0
  background white
  z-index 2
  overflow ellipsis
  top 37px
  li
    padding 10px
    border 1px solid gray-color
    border-bottom 0
    color black
    &:last-child
      border-bottom 1px solid gray-color
    &.is-active
      background black
      color white
  img
    background gray-lighter-color
    width 100%
  span
    margin-top 18px

.esa-thumbnail-container
  height 40px
  width 40px
  overflow hidden
  margin-right 10px

.esa-thumbnail-container, .esa-thumbnail-right
  display inline-block
  vertical-align top

.esa-thumbnail-right
  line-height 1.4em