@import '../stylus_lib'
@import './preview'

#edit-display
  margin-top header-size
  display none

.edit-display
  padding-top 70px
  &__section-title
    display flex
    align-items center
    padding 15px 0
    h1
      garamond headline
    svg
      margin-left 15px
      transform rotate(270deg)
    &.active svg
      transform rotate(0deg)
  &__inputs
    padding 40px 0 120px 0
    display none
    textarea
      resize none
   &__image-upload
     margin-bottom 30px
  .label
    display flex
    justify-content space-between
    .edit-char-count
      color gray-dark-color
      garamond m-caption
      text-transform capitalize
    .edit-char-count-limit
      color red-color
  &__email-credits
    div[class*="admin-form-"]
      width 50%
  &__use-article-title
    cursor pointer
    garamond('m-caption')
    text-transform none
    margin-top 5px
    text-align right
