@import '../stylus_lib'

.tag-list
  &__result
    display flex
    align-items center
    padding-left 15px
    width 280px
    height 50px
    border 1px solid gray-lighter-color
    garamond s-headline