.edit-controls
  &__layout
    width 100%
    text-align center
    height 45px
  &__inputs
    padding 0 20px 20px
    h2
      color white
      avant-garde()
      font-size 11px
      margin-bottom 10px
    input
      width 100%
      margin-bottom 20px

#edit-content .edit-controls a
  display inline-block
  height 40px
  width @height + 20px
  background-repeat no-repeat
  background-position 50%
  transition opacity 0.3s
  opacity 0.5
  cursor pointer
  &:hover
    opacity 1
  &[data-active=true]
    opacity 1
  &[name=fillwidth]
    svg
      margin-bottom 9px
  &[name=overflow_fillwidth]
    background-image url(/icons/edit_artworks_overflow_fillwidth.svg)
    background-size 38px
  &[name=column_width]
    background-image url(/icons/edit_artworks_column_width.svg)
    background-size 22px
  &[name=image_set]
    background-image url(/icons/edit_image_set_slideshow.svg)
    background-size 22px

[data-layout='news'] .SectionContainer
  &[data-type=image_collection]
    .edit-controls
      max-width news-body-width-w-margin
      margin-left -20px
      padding-top 20px
