.EditDisplay
  padding-top 40px
  .DropDownItem__content
    margin-top 40px
  .field-group.flat-checkbox
    display flex
    align-items center

.DisplayMagazine
  .title-fill
    color gray-dark-color
    garamond l-caption
    text-align right
    width 100%
    margin-top 5px
    cursor pointer

.DisplayEmail
  .field-group--inline
    .field-group
      width 100%
      &:first-child
        margin-right 10px
      &:last-child
        margin-left 10px
