.edit-section--video
  &__placeholder
    min-height 150px
    display flex
    justify-content center
    align-items center

  div[class*="caption__CaptionContainer-"]
    position relative
    > div
      min-width 100%
    .public-DraftEditorPlaceholder-root
      position absolute
