doctype html
html(lang="en")
  head
    meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )
    meta( name="apple-mobile-web-app-capable", content="yes" )
    style
      include:stylus index.styl
  body
    #error
      a#error-logo( href='/' )
        include ../../components/layout/public/icons/logo_w.svg
      #error-message
        h1= err && err.message || 'Unknown Error'
        h2 Our engineers have been notified. You can&nbsp;
          a( href=(referrer || '/') ) go back and try again&nbsp;
          | or wait until the issue is resolved.&nbsp;
          | We&rsquo;re sorry for the inconvenience.
    script(
      type="text/javascript"
      src="//fast.fonts.net/jsapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.js"
    )
