@import '../../components/stylus_lib'

global-reset()

body, html, #error
  height 100%

*
  box-sizing border-box

#error
  garamond()
  background black
  color white

#error-logo
  background url(/icons/logo_w.svg)
  width 34px
  height @width
  top 20px
  left @top
  position absolute

#error-message
  text-align center
  font-size 21px
  line-height 1.3em
  width 600px
  margin auto
  height 120px
  top calc(50% - 60px)
  position relative
  h1
    font-weight bold
    margin-bottom 1em
  a
    faux-underline(gray-color, 1px, 3px)
    cursor pointer
    color white

@media (max-width: 600px)
  #error-message
    width 100%
    padding 0 mobile-padding