@import '../../components/stylus_lib'

#article-list-items > ul > li
  margin-top whitespace-block-size
  line-height 26px
  transition opacity 0.3s
  &:hover
    opacity 0.8
  h1
    font-size 20px
  .article-list-img
    width 130px
    height 84px
    background center center
    background-size cover

.article-list-item-left
  margin-right 20px

.article-list-item-left, .article-list-item-right
  display inline-block
  vertical-align top

.article-list-item-right > *
  overflow ellipsis
  width 550px

.article-list-item-tags, .article-list-items-dates
  avant-garde()
  font-size small-avant-garde-font-size

.article-list-item-tags
  line-height small-avant-garde-font-size
  margin-bottom 5px
  ul li
    display inline-block
    color gray-dark-color
    margin-right 8px
    &:first-child
      color black

.article-list-items-dates
  display inline-block
  color gray-dark-color
  strong
    margin-right 10px
    color black
    font-weight normal

.article-list-missing
  color gray-dark-color

#article-list-pagination
  margin (whitespace-block-size * 2) 0

.article-list-item-placeholder
  background gray-lighter-color
  width 130px
  height 90px
  avant-garde()
  text-align center
  font-size small-avant-garde-font-size
  line-height 1.2em
  padding-top (@height / 2) - 13px
  color gray-dark-color
