extend ../../../components/layout/templates/index
include ../../../../node_modules/artsy-ezel-components/pagination/paginator

block content
  h1.page-header
    .max-width-container Contributors
  #contributors.max-width-container
    h2 Add an Artsy user to Writer
    #contributors-add
      input.bordered-input(
        placeholder='Search by user name or email...'
      )
    table.lite-table
      thead
        tr
          td
          td Name
          td Email
          td Role
          td Actions
      tbody
        include list
  #contributors-pagination.max-width-container
    +paginate(page, totalPages)
