include ../../components/paginated_list/index

extend ../../components/layout/templates/index

block header
  nav#queue-tabs
    a.is-active Daily Email
    a Weekly Email

block content
  #queue-queued.max-width-container
  #queue-filter-search.max-width-container
