.queue-tabs
  a
    padding-right 20px
    color gray-color
    &.is-active
      color black
    &:hover
      cursor pointer

.queue-queued
  margin 60px auto 120px auto
  .filter-search
    &__checkcircle
      svg
        fill-color black
      &:hover
        fill-color gray-color
