@import '../../../stylus_lib'

.edit-section-image-collection
  position relative
  .edit-section-controls
    padding 5px 20px 20px 20px

.esic-artwork-inputs
  clearfix()
  color white
  padding-top controls-padding
  text-align left
  border-top 1px solid gray-darkest-color
  input
    display inline-block
    vertical-align top
    width 100%
    max-width 100%
  .esis-byurl-input > button
    position relative
    display inline-block
    width 75px
    font-size small-avant-garde-font-size + 1
    height 40px
    background-color gray-lighter-color
  .esis-byurl-input > input
    width calc(100% - 75px)
  .esis-byurl-input
    padding-left 10px
  .esic-autocomplete-input
    padding-right 10px
  .esic-autocomplete-input, .esis-byurl-input
    position relative
    display inline-block
    width 50%
  .esis-autocomplete-input
    display inline-block
    width 50%
    padding-right 10px
    input
      padding-left 12px
    .tt-suggestion
      clearfix()
      line-height 1.2em
      color black
      .esis-suggestion
        width 50px
        height @width
        background center center gray-lighter-color
        background-size cover
        margin-right 10px
        float left

.esic-placeholder
  text-align center
  color gray-darker-color
  height 200px
  line-height 200px

.esic-images-list
  position relative
  z-index 2 !important
  opacity 0
  transition opacity 500ms ease-in
  &--placeholder
    opacity 1

  .esic-img-container
    position relative
    margin-bottom 30px

  .edit-section-remove
    display none
    &:hover svg
      fill-color red-color
    svg
      fill-color black

.imageset-preview
  margin 0 auto

.edit-section-image-collection.imageset-block
  .esic-images-list
    overflow hidden
    overflow-x scroll
  .drag-container
    width 200%
    margin-top 15px
    .drag-target
      margin-right 30px
      &:last-child
        margin-right 0
  &--long .drag-container
    width 300%

.edit-section-container[data-editing=false][data-type=image_collection],
.edit-section-container[data-editing=false][data-type=image_set]
  .edit-section-remove
    display block

.edit-section-container[data-editing=true][data-type=image_collection],
.edit-section-container[data-editing=true][data-type=image_set]
  .esic-caption--display
    display none
  .drag-target[data-target=true]
    .esic-img-remove,
    .rich-text--caption
      display none

//
// Varying layouts
//

.edit-section-container[data-layout=overflow_fillwidth],
.edit-section-container[data-editing=true][data-type=image_set]
  .esic-images-list
    .drag-container
      display flex
      justify-content space-between
    &--placeholder, &.single
      .drag-container
        justify-content center
