@import '../../../stylus_lib'

.edit-section-image-collection
  position relative

.edit-section-image-collection .edit-section-controls
  fill-container()
  background black
  height 225px
  top -(@height + controls-padding)
  left -(controls-padding)
  padding 5px 20px 20px 20px
  display none
  z-index 3
  min-width 620px
  nav
    width 100%
    text-align center
    a
      display inline-block
      height 40px
      width @height + 20px
      background-repeat no-repeat !important
      background-position center !important
      transition opacity 0.3s
      opacity 0.5
      cursor pointer
      &:hover
        opacity 1
      &:last-of-type
        border-right 0
    &.esi-nav
      margin-top -10px
      margin-bottom 5px

#edit-content .edit-section-image-collection .es-layout
  a
    &[data-active=true]
      opacity 1
    &[name=overflow_fillwidth]
      background-image url(/icons/edit_artworks_overflow_fillwidth.svg)
      background-size 38px
    &[name=column_width]
      background-image url(/icons/edit_artworks_column_width.svg)
      background-size 22px
    &[name=image_set]
      background-image url(/icons/edit_image_set_slideshow.svg)
      background-size 22px

.esic-artwork-inputs
  clearfix()
  color white
  padding controls-padding 0px
  text-align left
  border-top 1px solid gray-darkest-color
  input
    display inline-block
    vertical-align top
    width 100%
    max-width 100%
  .esis-byurl-input > button
    position relative
    display inline-block
    width 75px
    font-size small-avant-garde-font-size + 1
    height 40px
    background-color gray-lighter-color
  .esis-byurl-input > input
    width calc(100% - 75px)
  .esis-byurl-input
    padding-left 10px
  .esic-autocomplete-input
    padding-right 10px
  .esic-autocomplete-input, .esis-byurl-input
    position relative
    display inline-block
    width 50%
  .esis-autocomplete-input
    display inline-block
    width 50%
    padding-right 10px
    input
      padding-left 12px
    .tt-suggestion
      clearfix()
      line-height 1.2em
      color black
      .esis-suggestion
        width 50px
        height @width
        background center center gray-lighter-color
        background-size cover
        margin-right 10px
        float left

.esic-placeholder
  text-align center
  color gray-darker-color
  height 200px
  line-height 200px

.esic-images-list
  position relative
  z-index 2 !important
  opacity 0
  &--placeholder
    opacity 1

  .esic-img-container
    position relative
    margin-bottom 30px

  .edit-section-remove
    display none
    &:hover svg
      fill-color red-color
    svg
      fill-color black

.imageset-preview
  margin 0 auto

.edit-section-image-collection.imageset-block
  .esic-images-list
    overflow hidden
    overflow-x scroll
  .drag-container
    width 200%
    margin-top 15px
    .drag-target
      margin-right 30px
      &:last-child
        margin-right 0
  &--long .drag-container
    width 300%

.edit-section-container[data-editing=false][data-type=image_collection],
.edit-section-container[data-editing=false][data-type=image_set]
  .edit-section-remove
    display block
  .edit-section-controls, .esic-controls-container, .esic-img-remove
    display none

.edit-section-container[data-editing=true][data-type=image_collection],
.edit-section-container[data-editing=true][data-type=image_set]
  .edit-section-remove, .esic-caption--display
    display none
  .edit-section-controls, .esic-controls-container, .esic-img-remove
    display block
  .drag-target[data-target=true]
    .esic-img-remove,
    .rich-text--caption
      display none

//
// Varying layouts
//

.edit-section-container[data-layout=overflow_fillwidth],
.edit-section-container[data-editing=true][data-type=image_set]
  .edit-section-controls
    width 900px
  .esic-images-list
    .drag-container
      display flex
      justify-content space-between
    &--placeholder, &.single
      .drag-container
        justify-content center
