@import '../../../stylus_lib'

.edit-section--image-collection
  .edit-section__remove
    position absolute
    top -12px
    right -12px
    height 30px
    width 30px
    circle
      transition all .3s
    &:hover
      cursor pointer
      circle
        fill red-color
  [data-target=true] .edit-section__remove
    display none

.image-collection
  &__img-container
    position relative
    padding-bottom 30px
    max-width 100%
    margin-right 30px
    &:last-child
      margin-right 0
  &.single .image-collection__img-container
    margin 0 auto 30px auto
  &__img
    width 100%
    height auto
  &__list
    position relative
    z-index -1
    opacity 0
    transition opacity 500ms ease-in
    display flex
    justify-content center
    &--placeholder
      opacity 1
    .drag-container
      display flex
      justify-content center
    .drag-target
      max-width 100%
      margin-right 30px
      &:last-child
        margin-right 0

.edit-section--image-collection
  .edit-controls
    &__artwork-inputs
      padding-top controls-padding
      input
        display inline-block
        vertical-align top
        width 100%
        max-width 100%
        margin 0
    &__byurl-input
      position relative
      display inline-block
      width 50%
      padding-left 10px
      button
        position relative
        display inline-block
        width 75px
        font-size small-avant-garde-font-size + 1
        height 40px
        background-color gray-lighter-color
      input
        width calc(100% - 75px)
    &__autocomplete-input
      display inline-block
      width 50%
      padding-right 10px
      input
        padding-left 12px
      .tt-suggestion
        clearfix()
        line-height 1.2em
        color black
        z-index 10
        .autocomplete-suggestion
          width 50px
          height @width
          background center center gray-lighter-color
          background-size cover
          margin-right 10px
          float left
    &__image-set-inputs
      color white
      avant-garde()
      font-size 13px
      display flex
      justify-content space-between
      align-items center
      margin-top 20px
      input
        width calc(50% - 15px)
        margin-bottom 0
      .inputs
        display flex
        width calc(50% - 15px)
      .layout-inputs
        display flex
        margin-left 20px
      .input-group
        display flex
        align-items center
        margin-right 20px
        .radio-input
          border 2px solid white
          width 16px
          height 16px
          border-radius 50%
          margin-right 10px
          position relative
          &[data-active=true]::after
            content ''
            background white
            width .6em
            height .62em
            border-radius 50%
            border 1px solid black
            position absolute
            left 1px
            top 1px
  &[data-overflow=true] // for image sets with many images
    .drag-container
      flex-wrap wrap
    .drag-target
      margin-right 30px
      margin-left 0

.SectionContainer[data-type=image_collection]
  padding-bottom 0
  &[data-editing=true]
    // override section drag list to allow image dragging
    .image-collection__list
      z-index 2 !important

.SectionContainer[data-layout=column_width]
  .image-collection__list .drag-container
    flex-direction column

[data-layout='standard']
  .SectionContainer[data-type=image_set][data-editing=true]
    max-width standard-overflow-w-margin

[data-layout='feature']
  .SectionContainer[data-type=image_set][data-editing=true]
    max-width feature-overflow-w-margin
    margin 0 auto
  .SectionContainer[data-type=image_collection][data-layout=fillwidth]
    .drag-container
      flex-direction column
      .drag-target
        min-width 100%
    .image-collection__img-container
      width 100%
      min-width 100%
    .edit-section--image-collection .edit-section__remove
      top 20px
      right 20px
      circle
        fill gray-color
      &:hover circle
        fill red-color

[data-layout='classic']
  .SectionContainer[data-type=image_set][data-editing=true]
    max-width classic-overflow-w-margin
