@import '../stylus_lib'

@keyframes fadein
  0% {
    opacity 0
  }
  100% {
    opacity 1
  }

.edit-section-container
  animation fadein 0.15s
  z-index 1
  transition transform .15s

.edit-section-container-bg
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  z-index 1
  display none

.edit-section-hover-controls
  position absolute
  width 100%
  height 100%
  border 1px solid rgba(100,100,100,0.33)
  top 0
  left 0
  opacity 0

.edit-section-hover-controls
  .edit-section-tool
    position absolute
    left -controls-padding
    &:first-of-type
      top -1px
    &:last-of-type
      bottom -4px

.edit-section-container[data-editing=true]
  z-index 5
  .edit-section-container-bg
    display block
  .edit-section-hover-controls
    opacity 0

.edit-section-container[data-editing=true][data-type=text]::after
  border-color white
.edit-section-container[data-type=image]
.edit-section-container[data-type=artworks][data-layout=overflow_fillwidth]
.edit-section-container[data-type=image_set]
.edit-section-container[data-type=image_collection][data-layout=overflow_fillwidth]
  width overflow-width
  margin-left -((overflow-width - body-width) / 2 - controls-padding)

.edit-section-container[data-type=slideshow] .edit-section-hover-controls
.edit-section-container[data-type=slideshow][data-editing=true]::after
  top inherit
  margin-top -(controls-padding)
  left (sidebar-width + controls-padding)
  width "calc(100% - %s)" % (sidebar-width + controls-padding * 2)

.edit-section-remove.is-hidden
  display none

.edit-section-container[data-layout=column_width]
  width 620px
  margin auto

.edit-section-container[data-dragging=true]
  background-color gray-lightest-color
  user-select none
  transform scale(.925)

.edit-section-drag-placeholder
  width calc(100% \- 40px)
  min-height 2em
  background-color white
  margin 20px
  border 2px dashed gray-lighter-color
  max-height 30vh