@import '../../../components/stylus_lib'
@import './lib'
@import './header'
@import './content'
@import './thumbnail'
@import './sections'

.edit-required
  &::after
    content '*'
    garamond()
    font-size 22px
    color red-color
    position absolute
    margin-top -6px
    margin-left 3px
  &[data-hidden=true]::after
    display none