#edit-sections
  padding whitespace-block-size 0

.edit-section-tool
  position relative
  cursor pointer
  &::before
    content '.'
    background url(/icons/edit_section_tool_icon.svg) no-repeat center center
    color transparent
    width 40px
    height 40px
    position absolute
    left -50px
    top -13px

.edit-section-text
  margin-bottom 1em
  font-size 20px