@import '../../../components/stylus_lib'
@import './lib'

controls-padding = 20px
controls-size = calc(100% + 40px)
ease-out-quart = cubic-bezier(0.165, 0.840, 0.440, 1.000)
section-tool-size = 30px

#edit-sections
  padding whitespace-block-size 0

//
// Section tool
//
.edit-section-tool-icon
  position relative
  cursor pointer
  top -6px
  &:hover
    svg
      fill-color black
    &::after
      opacity 1
  &::after
    content '.'
    border-top 2px solid black
    width controls-size
    position absolute
    top 6px
    left -(controls-padding)
    color transparent
    opacity 0
    transition opacity 0.1s
  svg
    fill-color gray-color
    transition fill 0.1s
    width section-tool-size + 10px
    height section-tool-size + 10px
    position absolute
    left -(controls-padding + 14px)
    top -13px
    z-index 1
    rect
      fill white !important

.edit-section-tool-menu
  border 2px solid black
  position relative
  left -(controls-padding)
  width controls-size
  max-height 0
  overflow hidden
  opacity 0
  transition max-height 0.2s ease-out-quart, opacity 0.2s ease-out-quart
  li
    width 25%
    height 130px
    border-right 1px solid black
    vertical-align top
    line-height @height + 50px
    avant-garde()
    font-size small-avant-garde-font-size
    display inline-block
    text-align center
    cursor pointer
    position relative
    &:last-child
      border-right none
    svg
      max-width 40px
      max-height 40px
      position absolute
      top 30px
      left calc(50% - 20px)
    .edit-menu-icon-text svg
      margin-top 4px
      max-width 56px
      left calc(50% - 28px)
    .edit-menu-icon-artworks svg
      margin-top -3px
    .edit-menu-icon-image svg
      margin-top 0
    .edit-menu-icon-video svg
      margin-top 3px
      max-width 46px
      left calc(50% - 23px)

.edit-section-tool[data-state-open="true"]
  .edit-section-tool-icon::afte
    display block
  .edit-section-tool-menu
    max-height 130px
    opacity 1
  .edit-section-tool-icon svg *
    fill black

//
// Generically applied to all sections
//
.edit-section-container
  position relative
  margin (controls-padding * 2) 0
  &:hover
    .edit-section-hover-controls
      display block

//
// Section hover controls
//
.edit-section-hover-controls
  position absolute
  top -(controls-padding)
  left @top
  width controls-size
  height controls-size
  border 1px solid gray-color
  display none

.edit-section-remove
  position absolute
  top -(section-tool-size / 2)
  right -(section-tool-size / 2)
  color #ccc
  font-size 19px
  transition color 0.3s ease-out
  cursor pointer
  &:hover
    color red-color
  svg
    width section-tool-size
    fill-color gray-color
    &:hover
      fill-color red-color
    polygon
      fill white !important

//
// Text Sections
//
.edit-section-text
  font-size 20px
  position relative
  z-index 2
  &:empty::before
    content '\00a0'
  p
    line-height 26px

.edit-section-text, .edit-section-text-editing textarea
  font-size 20px
  line-height 26px
  p
    line-height 26px

.edit-section-text-editing
  border 1px solid black
  position absolute
  z-index 2
  width controls-size
  background white
  display none
  top -61px
  left -21px
  textarea
    width 100%
    padding controls-padding
    height calc(1em + 40px)
  nav
    background black
    avant-garde()
    font-size small-avant-garde-font-size
    a
      padding 15px 20px
      color white
      display inline-block
      vertical-align top
      width 30px

.edit-section-text-editing-bg
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  z-index 1
  display none

.edit-section-text-container[data-state-editing="true"]
  .edit-section-text-editing-bg, .edit-section-text-editing
    display block
  .edit-section-text
    opacity 0
  .edit-section-hover-controls
    display none
