.CharacterLimit
  label
    display flex
    justify-content space-between

  .public-DraftEditorPlaceholder-root
    color gray-color
    position absolute
  
  &[data-type=textarea]
    .DraftEditor-root
      min-height 3em
