.edit-header
  &__container
    margin-bottom 10px

  &--controls
    position absolute
    right 20px
    z-index 3
    text-align right
    user-select none
    padding 20px 10px

    &-open
      cursor pointer
