include ../../components/paginated_list/index
extend ../../components/layout/templates/index

block header
  | Link Sets

block content
  .max-width-container
    a.avant-garde-button.avant-garde-button-black.paginated-list-add(
      href="/links/new"
    ) Add Link Set
    +paginated-list(page, totalPages, linkSets.toPaginatedListItems(), null,'links')
