.remove-formatting
  include ../../public/icons/edit_text_remove_formatting.svg
.link
  include ../../public/icons/edit_text_link.svg
.ordered-list
  include ../../public/icons/edit_text_ol.svg
.unordered-list
  include ../../public/icons/edit_text_ul.svg