@import '../stylus_lib'

.edit-section-text-container
  background white

.est-link-container
  position relative
  display inline-block
  [data-command-name=linkPrompt].active + [data-command-name=unlink]
    display block
  [data-command-name=unlink]
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 2
    opacity 0
    display none

.edit-section-text-editable
  font-size 20px
  line-height 26px
  z-index 2
  position relative
  min-height 1em
  background white
  p
    margin-bottom 1em
    &:last-child
      margin-bottom 0
  h2
    font-size 28px
    line-height 1.2em
  h2 + p, h3 + p
    margin-top 1em
  h3
    avant-garde()
    font-size 13px
  ul li
    list-style disc inside
  ol li
    list-style decimal inside

.edit-section-text-editing-bg
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  z-index 1
  display none

.edit-section-container[data-editing=true]
  nav
    display block

.scribe-plugin-link-tooltip
  background black
  position absolute
  padding 12px
  z-index 10
  white-space nowrap
  &::after
    content '.'
    width 0
    height 0
    border-left 7px solid transparent
    border-right 7px solid transparent
    border-bottom 7px solid black
    position absolute
    top -7px
    left 50%
  input
    background white
    color black
    border 0
    padding 0 10px
    width 296px
  a.scribe-plugin-link-tooltip-show-on-view
    color white
    padding 0 20px 0 10px
    text-decoration none
    vertical-align top
    max-width 250px
    text-overflow ellipsis
    overflow hidden
    margin-top 2px
  button
    background gray-darker-color
    color white
    font-size small-avant-garde-font-size + 1
    border 0
    padding 0
    width 80px
    text-align center
    &:hover
      color white
      background gray-dark-color
  button[data-scribe-plugin-link-tooltip-role=remove]
    border-left 1px solid black
  input, button
    height 30px
    display inline-block
    vertical-align top

.scribe-plugin-link-tooltip-hidden
  visibility hidden

.scribe-plugin-link-tooltip > *
  display inline-block

.scribe-plugin-link-tooltip-state-edit .scribe-plugin-link-tooltip-show-on-view,
.scribe-plugin-link-tooltip-state-view .scribe-plugin-link-tooltip-show-on-edit
  display none
