include ../../../components/paginated_list/index
extend ../../../components/layout/templates/index

block header
  | Channels

block content
  .max-width-container
    +paginated-list(page, totalPages, channels.toPaginatedListItems(), null,'channels')
