include ../../../components/paginated_list/index
extend ../../../components/layout/templates/index

block header
  | Settings

block content
  .max-width-container
    .settings__items
      a.settings__item-link(href='/settings/curations') Curations
      a.settings__item-link(href='/settings/channels') Channels
      a.settings__item-link(href='/settings/tags') Tags
      a.settings__item-link(href='/settings/authors') Authors
