version: 2
jobs:
  build-and-test:
    docker:
      - image: artsy/hokusai
        environment:
          TZ: "America/Los_Angeles"
    environment:
      TZ: "America/New_York"
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run:
          name: Test
          command: COMMIT_HASH=$(git rev-parse HEAD) CODECOV_TOKEN=$CODECOV_TOKEN BRANCH_NAME=$CIRCLE_BRANCH hokusai test --build
  deploy-staging:
    docker:
      - image: artsy/hokusai
    environment:
      TZ: "America/New_York"
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run:
          name: Configure
          command: hokusai configure --kubectl-version 1.10.7 --s3-bucket artsy-citadel --s3-key k8s/config --platform linux
      - run:
          name: Validate Kubernetes Yaml
          command: |
            kubectl --context staging apply -f ./hokusai/staging.yml --dry-run
      - run:
          name: Push
          command: hokusai registry push --tag $CIRCLE_SHA1 --force --overwrite
      - run:
          name: Deploy to staging
          command: hokusai staging deploy $CIRCLE_SHA1
      - run:
          name: Update staging git branch
          command: git push git@github.com:artsy/positron.git $CIRCLE_SHA1:refs/heads/staging --force
  deploy-production:
    docker:
      - image: artsy/hokusai
    environment:
      TZ: "America/New_York"
    steps:
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - run:
          name: Configure
          command: hokusai configure --kubectl-version 1.10.7 --s3-bucket artsy-citadel --s3-key k8s/config --platform linux
      - run:
          name: Validate Kubernetes Yaml
          command: |
            kubectl --context production apply -f ./hokusai/production.yml --dry-run
      - run:
          name: Push
          command: hokusai registry push --tag $CIRCLE_SHA1 --force --overwrite
      - run:
          name: Deploy to production
          command: hokusai production deploy $CIRCLE_SHA1
workflows:
  version: 2
  build-deploy:
    jobs:
      - build-and-test:
          filters:
            branches:
              ignore:
                - staging
      - deploy-staging:
          requires:
            - build-and-test
          filters:
            branches:
              only: master
      - deploy-production:
          requires:
            - build-and-test
          filters:
            branches:
              only: release
