thumbnail-width = 145px

.article-list
  &__result
    cursor default
  &__no-results
    garamond l-body
    padding-top 20px
  &__checkcircle
    width 18px
    height 18px
    display inline-block
    margin-right 20px
    vertical-align middle
    cursor pointer
    svg
      fill-color gray-color
    &:hover
      svg
        fill-color black
  &__article
    width "calc(100% - %s)" % (thumbnail-width + 20px)
    display inline-block
    cursor default
    text-decoration none
    &.locked
      color gray-dark-color
      pointer-events none
      cursor not-allowed
      &:hover
        opacity 1
    &:hover
      opacity .7
      cursor pointer
    .name
      margin-left 20px

  &__title
    .missing-title
      color gray-dark-color
  &__image.paginated-list-img
    color gray-dark-color
    display inline-flex
    align-items center
    justify-content center
    .missing-img
      avant-garde s-headline
      text-align center
      max-width 80%
      margin 0 auto
  &__preview
    &.locked
      color gray-dark-color
      pointer-events none
      &:hover
        color gray-dark-color
    .lock
      height 15px
      width 15px
      margin-right 5px
      display inline-block
      vertical-align middle
      background url(/icons/lock.svg) center center no-repeat
    .title
      vertical-align middle