@import '../../../stylus_lib'

.edit-section--image-collection
  &.imageset-block // scrolling edit view for imageset
    .image-collection__list
      overflow hidden
      overflow-x scroll
    .drag-container
      width 200%
      margin-top 15px
      .drag-target
        margin-right 30px
        &:last-child
          margin-right 0
    &--long .drag-container
      width 300%
  .edit-section__remove
    position absolute
    top -12px
    right -12px
    height 30px
    width 30px
    circle
      transition all .3s
    &:hover
      cursor pointer
      circle
        fill red-color
  [data-target=true] .edit-section__remove
    display none


.image-collection
  &__img-container
    position relative
    margin-bottom 30px
    max-width 100%
  &.single .image-collection__img-container
    margin 0 auto 30px auto
  &__img
    width 100%
    height auto
  &__list
    position relative
    z-index 2 !important
    opacity 0
    transition opacity 500ms ease-in
    &--placeholder
      opacity 1
    .drag-container
      display flex
      justify-content space-between
    .drag-target
      max-width 100%

.edit-section--image-collection
  .edit-controls
    &__artwork-inputs
      padding-top controls-padding
      input
        display inline-block
        vertical-align top
        width 100%
        max-width 100%
        margin 0
    &__byurl-input
      position relative
      display inline-block
      width 50%
      padding-left 10px
      button
        position relative
        display inline-block
        width 75px
        font-size small-avant-garde-font-size + 1
        height 40px
        background-color gray-lighter-color
      input
        width calc(100% - 75px)
    &__autocomplete-input
      display inline-block
      width 50%
      padding-right 10px
      input
        padding-left 12px
      .tt-suggestion
        clearfix()
        line-height 1.2em
        color black
        z-index 10
        .autocomplete-suggestion
          width 50px
          height @width
          background center center gray-lighter-color
          background-size cover
          margin-right 10px
          float left
      .tt-dropdown-menu
        margin-top -20px

.edit-section__container[data-layout=column_width]
  .image-collection__list .drag-container
    flex-direction column

.standard
  .edit-section__container[data-type=image_set][data-editing=true]
    max-width standard-overflow-w-margin

.feature
  .edit-section__container[data-type=image_set][data-editing=true]
    max-width feature-overflow-w-margin

.classic
  .edit-section__container[data-type=image_set][data-editing=true]
    max-width classic-overflow-w-margin
