@import '../../../components/stylus_lib'

#channel-edit__users
  input
    width 100%

.channel-edit
  &__metadata
    button
      margin-top 20px
      width 100%
      position relative
  &__links-item
    margin-top 20px
    width 50%
  &__header
    avant-garde('body')
    margin-bottom 10px

.settings__item-link
  garamond('l-body')
  text-decoration none
  display block
  margin-top 20px
  padding-bottom 20px
  border-bottom 1px solid gray-lighter-color
  &:hover
    color gray-darker-color
  &:last-of-type
    border-bottom none

.edit-feature
  .admin-form-save
    // position fixed
    // bottom 5px
    // left 55px
    // max-width 900px
    // right -55px
    // margin auto
    z-index 100
  &__section
    border-bottom 1px solid gray-lighter-color
  &__section-title
    padding 20px 5px
    margin-top 0
  &__fields
    display flex
    padding 0 5px 30px 5px
    .admin-form-right-col
      display flex
      flex-direction column
    textarea
      height 100%