@import '../../../components/stylus_lib'

#channel-edit__users
  input
    width 100%

.channel-edit
  &__metadata
    button
      margin-top 20px
      width 100%
      position relative
  &__links-item
    margin-top 20px
    width 50%
  &__header
    avant-garde('body')
    margin-bottom 10px

.settings__item-link
  garamond('l-body')
  text-decoration none
  display block
  margin-top 20px
  padding-bottom 20px
  border-bottom 1px solid gray-lighter-color
  &:hover
    color gray-darker-color
  &:last-of-type
    border-bottom none

.settings-edit-feature
  margin-top 60px
  padding-left 24px
  display none
  .admin-form-save
    position fixed
    top 5px
    width 435px
    right calc((100vw \/ 2) \- 500px)
    z-index 100
  &__section
    border-bottom 1px solid gray-lighter-color
  &__section-title
    padding 20px 5px
    margin-top 0
  &__fields
    display none
    &-inner
      padding 0 5px 40px 5px
      display flex
    .admin-form-right-col
      display flex
      flex-direction column
    .admin-image-placeholder
      height 255px
      margin-bottom 15px
      .image-upload-form
        height 250px
        display flex
        flex-direction column
        align-items center
        justify-content center
        h1
          margin-top 0
    label
      display flex
      justify-content space-between
      span
        color gray-color
    textarea
      height 100%
    .bordered-input
      margin-bottom 15px