#venice-root
  margin-top 100px
  .venice-admin__fields
    height 0
    opacity 0
    overflow hidden
    transition all .65s
    &.active
      margin-top 30px
      margin-bottom 120px
      height initial
      opacity 1
      transition all .65s
  .field-group
    display flex
    flex-direction column
    margin-bottom 30px
    &.about
      margin-top 40px
    .bordered-input
      width 100%
    textarea
      min-height 10em
  .published
    display flex
    align-items center
    .date
      width 70%
  .video
    .video-url
      width 70%
    .time
      width 115px
      input
        height 40px
  .flat-checkbox
    display flex
    align-items center
    margin-top -10px
    width 110px
    label
      margin-bottom 0
  .image-upload-form
    height 14em
    display flex
    flex-direction column
    justify-content center
    h1
      margin-top 0
  .fields--full
    display flex
    justify-content space-between
  .fields--left, .fields--right
    width calc(50% \- 15px)
  input[disabled]
    background-color gray-lightest-color
    cursor not-allowed
  label
    avant-garde s-headline
    margin-bottom 5px
    display flex
    justify-content space-between
    .subtitle
      color gray-color
  .sub-articles .autocomplete-container
    display flex
    flex-direction row-reverse
    justify-content space-between
    .autocomplete-selected, .twitter-typeahead
      width calc(50% \- 15px)
  .save
    position fixed
    top 10px
    z-index 100
    width 900px
    text-align right
    .attention
      color red-color
    .is-saving
      color green-color
  .error
    color red-color
    margin-bottom 20px


  .dropdown-header
    display flex
    align-items center
    padding 15px 0
    border-bottom 1px solid gray-lighter-color
    h1
      garamond headline
    div
      height 1.25em
    svg
      margin-left 15px
      transform rotate(270deg)
  .active .dropdown-header svg
      transform rotate(0deg)