@import './controls'

.edit-header
  position relative

  .DraftEditor-root
    position relative

  .public-DraftEditorPlaceholder-inner
    position absolute
    top 0
    color gray-dark-color

  .plain-text[name='title']
    .public-DraftEditorPlaceholder-inner:after
      content ' *'
      color red-color

  .upload-progress
    min-width 0

  div[class*='Header__Vertical'] span
    color gray-dark-color

  &__image-container
    top 20px
    left 20px
    right 20px
    bottom 20px

  .file-input.simple
    height 100%
    max-height 400px
    min-height 400px

    .file-input__upload-container
      position absolute
      top 0
      left 0
      right 0
      bottom 0

      h1:before
        content '+ '
        font-size 1.5em

  .RemoveButton
    width 30px
    height 30px

    circle
      transition all .3s

    &:hover
      cursor pointer
      circle
        fill red-color

#edit-content .edit-header a
  background-image none

[data-layout='classic'] .edit-header
  padding-top 10px

  .plain-text .public-DraftEditorPlaceholder-inner
    left 0
    right 0

  .rich-text--paragraph
    font-size 20px
    line-height 26px
    text-align left
    margin-top 10px
    max-width 580px
    margin 10px auto 30px auto

[data-layout='standard'] .edit-header
  padding-top 10px

[data-layout='feature'] .edit-header
  margin-bottom 30px
  .edit-header__container
    margin 0

  div[class^='FeatureHeader__TextAsset']
    position relative
    min-height 440px

  &[data-type=split]
    .edit-header--controls
      top -61px
    .file-input.simple
      max-height 100%
      min-height 100%
    div[class^='FeatureHeader__EditImage']
      top 0
      left 0
      right 0
      bottom 0
      .RemoveButton
        position absolute
        z-index 1
        right 5px
        top 5px

  div[data-type=basic]
    margin-top 0
    div[class^="Grid__Grid-"]
      padding-top 40px
    .public-DraftEditorPlaceholder-inner
      text-align center
      width 100%

  &[data-type=fullscreen]
    div[class^='FeatureFullscreenHeader']
      margin-top 0
    .file-input.simple
      height inherit
      min-height 0
      max-height 100%
      width 235px
      z-index 1
      padding 0

      .file-input__upload-container
        align-items flex-start
        background none
        h1
          font-size 13px
        h2
          display none

    .edit-header__image-container
      top 10px
      left 0
      &[data-has-image=false]
        .file-input.simple h1
          color black

    .public-DraftEditorPlaceholder-inner,
    div[class^='VerticalOrSeriesTitle__Vertical'] span
      color white

  &[data-type='text']
    div[class^='FeatureTextHeader__TextHeaderContainer']
      margin-top 0
    div[class^='FeatureHeader__EditImage']
      position relative
      .RemoveButton
        position absolute
        z-index 1
        right -10px
        top -10px
    div[class^='FeatureTextHeader__Asset']
      position relative
