[data-layout='classic'] .edit-header
  padding-top 10px

[data-layout='standard'] .edit-header
  padding-top 10px

[data-layout='feature'] .edit-header
  margin-bottom 30px
  .edit-header__container
    margin 0

  &[data-type=split]
    margin-top 10px
    .edit-header--controls
      top -21px
    div[class^='FeatureHeader__EditImage']
      left 0
      right 0
      top 0
      bottom 0

