.link
  include ../../../apps/edit/public/icons/edit_text_link.svg
.remove
  include ../../../apps/edit/public/icons/edit_text_link_remove.svg
.remove-formatting
  include ../../../apps/edit/public/icons/edit_text_remove_formatting.svg
.ordered-list-item
  include ../../../apps/edit/public/icons/edit_text_ol.svg
.unordered-list-item
  include ../../../apps/edit/public/icons/edit_text_ul.svg
.artist
  include ../../../apps/edit/public/icons/edit_text_follow_link.svg
.blockquote
  include ../../../apps/edit/public/icons/edit_text_blockquote.svg