block locals
  - hideHeader = false

doctype html
html( lang="en" data-useragent=sd.USER_AGENT )
  head
    != newRelicHead
    meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )
    meta( name="apple-mobile-web-app-capable", content="yes" )
    title Artsy Writer
    link( type='text/css' rel='stylesheet' href=asset('/assets/main.css') )
    link( rel='icon', type='image/png', href=asset('/images/favicon.ico') )
  body
    #layout-content
      unless hideHeader
        h1.page-header
          #layout-hamburger-container
            #layout-hamburger
          .max-width-container
            block header
      include sidebar
      block content
    include scripts