!= sharify.script()
script(
  type="text/javascript"
  src="//fast.fonts.net/jsapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.js"
)
script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" )
script( src='/assets/main.js' )