@import './components/stylus_lib'
@import './components/layout'
@import './components/header'
@import './components/thumbnail'
@import './components/section_container'
@import './components/section_list'
@import './components/section_embed'
@import './components/section_tool'
@import './components/section_text'
@import './components/section_artworks'
@import './components/section_image'
@import './components/section_video'
@import './components/section_slideshow'
@import './components/section_fullscreen'
@import './components/hero_section'
@import './components/admin'
@import './components/mobile'

.edit-scribe-nav
  background black
  z-index 3
  avant-garde()
  display none
  text-align center
  button
    color gray-dark-color
    border 0
    border-right 1px solid gray-darkest-color
    padding 12px 20px
    background transparent
    font-size 12px
    cursor pointer
    display inline-block
    vertical-align top
    outline none
    position relative
    transition color 0.15s
    &:last-child
      border-right 0
    &.active
      color white
      svg
        fill-color white 0.15s
    svg
      fill-color gray-dark-color 0.15s
      position absolute
    &[data-command-name=linkPrompt] svg
      width 13px
      height 14px
      top 12px
      left 16px
    &[data-command-name=removeFormat] svg
      height 20px
      width 19px
      left 15px
      top 12px
    &[data-command-name=italic]::after
      content 'I'
      garamond()
      font-style italic
      position absolute
      font-size 18px
      font-weight bold
      top 8px
      left 17px
    &[data-command-name=bold]::after
      content 'B'
      avant-garde()
      position absolute
      top 11px
      left 17px
      font-size 16px
    &[data-command-name=h2], &[data-command-name=h3]
      padding 12px 24px
      height 100%
      &::after
        content 'H2'
        garamond()
        font-size 18px
        font-weight bold
        position absolute
        top 8px
        left 13px
    &[data-command-name=h3]::after
      content 'H3'
    &[data-command-name=insertOrderedList] svg
      width 13px
      height 14px
      top 12px
      left 16px
    &[data-command-name=insertUnorderedList] svg
      width 13px
      height 14px
      top 12px
      left 16px
    &[disabled=disabled]
      color gray-darkest-color
      fill-color gray-darkest-color 0.15s

.edit-section-controls .dashed-file-upload-container
  border-color gray-darker-color
  transition border-color 0.3s, color 0.3s
  padding controls-padding
  avant-garde()
  background black
  color white
  text-align center
  &:hover, &.is-dragover
    border-color white
    span
      color gray-darker-color
  &.is-dragover
    .dashed-file-upload-container-drop
      color white
  &:hover
    border-color gray-darker-color
    .dashed-file-upload-container-click
      color white
  span
    transition color 0.3s
  h1
    font-size default-avant-garde-font-size - 1
  h2
    font-size small-avant-garde-font-size
    color gray-darker-color
    margin-top 10px

