@import "./styl/analyzer"

.simple-modal-body
  overflow scroll
  bottom 5%
.screen-reader-text
.simple-modal-controls
#edit-seo__content-field
.snippet-editor__heading
  display none

// .wpseo-score-icon
//   &.bad, &.ok, &.good
//   	display: inline-block;
// 		width: 12px;
// 		height: 12px;
// 		margin: 3px 10px 0 3px;
// 		border-radius: 50%;
// 		vertical-align: top;
// 	&.bad
// 		background: #dc3232;
// 	&.ok
// 		background: #ee7c1b;
// 	&.good
// 		background: #7ad03a;
// .snippet-editor__submit
//   display none
// .snippet_preview
// 	border: 1px solid #f7f7f7;
// 	border-radius: 20px;
// 	background-color: #fff;
// 	position: relative;