@import '../../components/stylus_lib'

#contributors
  h2
    font-size 21px
    margin 30px 0 15px 0
  table
    width 100%

.contributors-icon
  width 50px
  height @width
  border-radius @width

.contributors-actions
.contributors-actions-container
  width 177px

.contributors-actions-container
  position relative
  top 1px
  .avant-garde-button
    font-size 11px

.contributors-remove
  color gray-dark-color
  border-color transparent
  padding-left 0
  &:hover
    color red-color

#contributors-add
  margin-bottom 40px
  input
    width 100%
