.text
  include ../../public/icons/edit_menu_text.svg
.artworks
  include ../../public/icons/edit_menu_artworks.svg
.image
  include ../../public/icons/edit_menu_image.svg
.video
  include ../../public/icons/edit_menu_video.svg
.slideshow
  include ../../public/icons/edit_menu_slideshow.svg
.embed
  include ../../public/icons/edit_menu_embed.svg
.section-tool
  include ../../public/icons/edit_section_tool.svg
.section-tool-close
  include ../../public/icons/edit_section_tool_close.svg
.hero-image
  include ../../public/icons/edit_hero_image.svg
.hero-video
  include ../../public/icons/edit_hero_video.svg
.hero-fullscreen
  include ../../public/icons/edit_hero_fullscreen.svg
