.text
  include ../../public/icons/edit_menu_text.svg
.artworks
  include ../../public/icons/edit_menu_artworks.svg
.image
  include ../../public/icons/edit_menu_image.svg
.video
  include ../../public/icons/edit_menu_video.svg
.section-tool
  include ../../public/icons/edit_section_tool.svg
.section-tool-close
  include ../../public/icons/edit_section_tool_close.svg