@import '../stylus_lib'

section-btn-height = 130px

.edit-section-tool
  width section-tool-size - 11px
  opacity 0
  z-index 2
  max-height 0
  position relative
  &:only-child
    &::after
      opacity 1
      color black
    svg
      fill-color black
  &:last-child
    opacity 1
  &:hover
    width 100%
    position relative
    &::after
      opacity 0
    svg
      fill-color black
    .edit-section-tool-icon::before
      opacity 1
      max-width 800px
  &::after
    content 'Add a section'
    width 150px
    display block
    float left
    position absolute
    top -6px
    left 35px
    avant-garde()
    color gray-dark-color
    font-size default-avant-garde-font-size - 1
    opacity 0

.edit-section-tool-icon
  position relative
  cursor pointer
  top -6px
  &::before
    content '.'
    border-top 2px solid black
    position absolute
    top 6px
    left 16px
    width "calc(100% - %s)" % @left
    max-width 0
    color transparent
    opacity 0
    transition opacity 0.15s ease-out, max-width 0.15s ease-out
    height 20px
    z-index 2
  svg
    z-index 1
    fill-color gray-color
    transition fill 0.1s
    width section-tool-size + 10px
    height section-tool-size + 10px
    position absolute
    left -18px
    top -13px
    rect
      fill white !important

.edit-section-tool-menu
  border 2px solid black
  position relative
  left 0
  width 100%
  overflow hidden
  opacity 0
  border-top-color transparent
  max-height 0
  background gray-lightest-color
  li
    width 25%
    avant-garde()
    height section-btn-height
    background white
    border-right 1px solid gray-color
    border-bottom 1px solid gray-color
    vertical-align top
    line-height @height + 50px
    font-size small-avant-garde-font-size
    display inline-block
    text-align center
    cursor pointer
    position relative
    &:last-child
      border-right none
    svg
      max-width 40px
      max-height 40px
      position absolute
      top 30px
      left calc(50% - 20px)
    .edit-menu-icon-text svg
      margin-top 4px
      max-width 56px
      left calc(50% - 28px)
    .edit-menu-icon-artworks svg
      margin-top -3px
    .edit-menu-icon-image svg
      margin-top 0
    .edit-menu-icon-video svg
      margin-top 3px
      max-width 46px
      left calc(50% - 23px)
    .edit-menu-icon-slideshow svg
      margin-top 11px
      max-width 82px
      left calc(50% - 38px)
    .edit-menu-icon-hero-image svg, .edit-menu-icon-hero-video svg
      max-width 80px
      left calc(50% - 42px)
  li:first-child:nth-last-child(6),
  li:first-child:nth-last-child(6) ~ li
    width 20%

.edit-section-tool[data-state-open="true"]
  max-height (section-btn-height * 2)
  width 100%
  opacity 1
  position relative
  transition max-height 0.15s linear, opacity 0.15s linear
  .edit-section-tool-icon::before
    opacity 1
    max-width 800px
  &::after
    opacity 0
  .edit-section-tool-icon::after
    display block
  .edit-section-tool-menu
    opacity 1
    max-height (section-btn-height * 2)
    transition max-height 0.15s linear, opacity 0.15s linear
  .edit-section-tool-icon svg *
    fill black

.edit-section-tool-menu li.edit-section-tool-slideshow
  display none
