.RelatedArticles
  display flex
  flex-direction column

  .RelatedArticlesInput
    width 50%
    align-self flex-end
    padding-top 20px
    padding-bottom 100px
    label
      avant-garde s-headline

.EditArticleCard
  position relative
  &__remove
    width 30px
    position absolute
    right -10px
    top -10px
  &__edit
    avant-garde s-headline
    position absolute
    right 35px
    top 8px
