header#edit-header
  nav#edit-tabs
    a.avant-garde-button.is-active.edit-check Content
      include ../../../../components/layout/public/icons/check.svg
    a.avant-garde-button.edit-check Display
      include ../../../../components/layout/public/icons/check.svg
    if user.get('type') == 'Admin'
      a#edit-admin-button.avant-garde-button Admin
    a#edit-publish.avant-garde-button( data-disabled='true' )
      = article.get('published') ? 'Unpublish' : 'Publish'
    if sd.CURRENT_CHANNEL.get('type') === 'editorial'
      a#autolink-button.avant-garde-button Auto-Link
  #edit-header-right
    span#edit-error.attention
    a#edit-delete.avant-garde-button Delete
    a#edit-save.avant-garde-button Save #{article.stateName()}
    a#edit-preview.avant-garde-button(
      href="#{sd.FORCE_URL}/article/#{article.get('slug')}"
    )
      if article.get('published')
        | View
      else
        | Preview
