@import '../stylus_lib'

#edit-header
  padding margin-size
  position fixed
  top 0
  left 0
  padding-left sidebar-width + margin-size
  border-bottom 1px solid gray-lighter-color
  width 100%
  min-width 866px
  z-index 4
  background white

#edit-tabs
  a
    border-right 0
  a:nth-last-child(2)
    border-right 1px solid gray-lighter-color
  a:not(#edit-publish)
    position relative
    color gray-color
    &.edit-check
      padding-right 45px
    &:hover
      color black
    &.is-active
      color black
    &[data-complete=true] svg
      fill-color green-light-color
    svg
      fill-color gray-lighter-color
      position absolute
      right 15px
      top 8px
      height 15px

#edit-tabs a, #edit-header-right a
  padding 10px 18px
  font-size default-avant-garde-font-size - 2

#edit-save
  position relative
  transition none
  &.is-saving
    color transparent
  &.is-saving::after
    content 'Saving...'
    color gray-dark-color
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    padding 10px 0
    text-align center

#edit-publish
  margin-left margin-size
  border-right 1px solid gray-lighter-color !important

#edit-header-right
  position absolute
  right margin-size
  top margin-size
  a
    margin-right margin-size
    &:last-child
      margin-right 0

#edit-delete
  border 0