@import '../stylus_lib'

.es-toc-headline
  avant-garde('body')
  padding-bottom 20px

.es-toc-list
  padding 30px 0px
  border-bottom 1px solid gray-lighter-color
  border-top 1px solid gray-lighter-color
  column-count 3

.es-toc-link
  garamond('s-headline')
  display inline-block
  background-image none !important
  margin-bottom 10px