@import '../stylus_lib'

header-bottom = 10px

.edit-section-callout-container
  width 100%

.esc-controls-container
  fill-container()
  background black
  z-index 3
  height 342px
  top -(@height)
  text-align center
  display none

.esc-inputs
  clearfix()
  color white
  padding controls-padding
  text-align left
  border-top 1px solid gray-darkest-color
  h1
    margin-bottom header-bottom
    font-weight bold
    avant-garde 's-headline'
  input
    width 100%
    margin-bottom 10px

.esc-hide-thumbnail, .esc-top-stories
  h1
    display inline
  input
    width 30px
    display inline

.esc-empty-placeholder
  text-align center
  color gray-dark-color
  height 100px
  line-height @height

.edit-section-container[data-editing=true]
  .esc-controls-container, .edit-section-remove
    display block

.esc-autocomplete-menu
  position absolute
  right 0
  background white
  z-index 2
  overflow ellipsis
  top 37px
  img
    background gray-lighter-color
    width 100%
  span
    margin-top 18px

.esc-callout-container.is-pull-quote
  width 750px
  margin-left -85px
  .esc-read-article
    display none
  p
    text-align center
    font-size 37px
    line-height 1.2em

.esc-callout-container.is-article
  .esc-callout
    border 1px solid gray-lighter-color
    display flex
    align-items center
    padding 15px
    margin-top 10px
    width 100%
  p
    text-align left
  img
    width 120px
    margin-right 20px

.esc-callout-container.is-article.hidden-image-true
  img
    display none
  .esc-callout
    border none
    padding 0
    margin-bottom 10px
    p
      font-size 25px
      border-bottom 1px solid

.esc-read-article
  avant-garde 'body'
  margin-top 15px

.esc-title
  garamond()
  font-size 20px

.esc-autocomplete-input
  color black
  .tt-input
    background white !important
    padding-left 12px
  .tt-dropdown-menu
    margin-top 0
    border 1px solid gray-lighter-color
    p
      line-height 1.2em
    .tt-suggestion
      clearfix()
      line-height 1.2em
      .esc-suggestion
        width 50px
        height @width
        background center center gray-lighter-color
        background-size cover
        margin-right 10px
        float left

.esc-top-stories
  &__headline
    avant-garde 'body'
    padding 20px 0px
    border-bottom 1px solid gray-lighter-color
  &__container
    padding 10px 0
    border-bottom 1px solid gray-lighter-color
    display flex
    align-items center
  &__left
    width 80px
    height 80px
    background-color gray-lighter-color
    margin-right 10px
  &__right
    garamond 's-body'
    line-height 1em
