for artist in mentionedArtists
  li.eaf-mentioned( data-id=artist.get('id') )= artist.get('artist').name
for artist in featuredArtists
  li.eaf-featured( data-id=artist.get('id') )= artist.get('artist').name