for artwork in mentionedArtworks
  li.eaf-mentioned( data-id=artwork.get('id') )= artwork.get('artwork').title
for artwork in featuredArtworks
  li.eaf-featured( data-id=artwork.get('id') )= artwork.get('artwork').title