for item in list
  li(
    class=item.featured ? 'eaf-featured' : 'eaf-mentioned'
    data-id=item.model.get('id')
  )
    if item.model.get('title')
      span= item.model.truncatedLabel()
    else
      span= item.model.get('name')
