@import '../stylus_lib'

inputs-margin = 15px

#edit-admin
  padding-top header-size
  display none
  width overflow-width
  margin auto
  h1
    avant-garde()
    font-size 22px
    letter-spacing 2px
    margin-top (whitespace-block-size * 2)
  h2
    margin 20px 0 whitespace-block-size 0
  h3
    avant-garde()
    font-size default-avant-garde-font-size
    margin whitespace-block-size 0 15px 0

.edit-admin-feature-list li:not(.eaf-input-li)
  border 1px solid gray-lighter-color
  padding 10px
  position relative
  height 38px
  span
    display inline-block
    overflow ellipsis
    max-width 250px
  &.eaf-mentioned
    color gray-dark-color
    position relative
    cursor pointer
    span
      max-width 190px
    &::after
      content 'Mentioned'
      float right
      avant-garde()
      font-size default-avant-garde-font-size - 2
      color gray-color
      margin-top 2px
      position absolute
      right 10px
    &::before
      content '.'
      color transparent
      background url(/icons/check.svg) center center no-repeat
      position absolute
      right 10px
      background-size 100%
      width 15px
      height 14px
      display none
    &:hover
      color black
      &:before
        display block
      &:after
        content 'Feature'
        right 30px
        color black
  &.eaf-featured
    border-color black
    position relative
    cursor pointer
    &::after
      content '.'
      color transparent
      background url(/icons/check.svg) center center no-repeat
      position absolute
      right 10px
      background-size 100%
      width 15px
      height 14px
    &::before
      content 'Unfeature'
      avant-garde()
      position absolute
      right 30px
      display none
      font-size default-avant-garde-font-size - 2
      margin-top 2px
    &:hover
      span
        max-width 175px
      &::before
        display block
      &::after
        background url(/icons/remove.svg) center center no-repeat


.eaf-input input
  padding 6px 12px 7px 12px
  width 100%

.eaf-input, .edit-admin-feature-list li
  width (overflow-width / 3 - 10px)
  margin 0 10px 10px 0

.eaf-input, .edit-admin-feature-list, .edit-admin-feature-list li
  display inline-block
  vertical-align top

#edit-admin-change-author
  input
    width ((overflow-width / 3) * 2 - 10px)
    margin-right 10px