mixin featuredList(id, resource)
  ul.edit-admin-feature-list( id=id )
    li
      .loading-spinner-small
    li.eaf-input-li
      label.eaf-input
        input.bordered-input.eaf-artist-input(
          placeholder="Add an #{resource} by url or slug..."
        )

section#edit-admin
  section#edit-admin-change-author
    h1 Change Author
    h2 Changing the author of this article will move it to their Artsy Writer.
    input.bordered-input( placeholder='Search by user name...' )
  section#edit-admin-feature
    h1 Feature
    h2 Choose pages for this post to appear on at Artsy.
    h3 Primary Artists
    +featuredList('eaf-primary-artists', 'artist')
    h3 Secondary Artists
    +featuredList('eaf-artists', 'artist')
    h3 Artworks
    +featuredList('eaf-artworks', 'artwork')
