section#edit-admin
  section#edit-admin-feature
    h1 Feature
    h2 Choose pages for this post to appear on Artsy.&nbsp;
      | To curate pages like the homepage go to "Featuring" in the sidebar.
    h3 Artist Pages
    ul#eaf-artists.edit-admin-feature-list
      include ./featured_artists
    h3 Artwork Pages
    ul#eaf-artworks.edit-admin-feature-list
      include ./featured_artworks