@import '../stylus_lib'
@import './article'
@import './verticals_tags'
@import './featuring'
@import './super_article'

#edit-admin
  padding-top header-size
  display none

  .dropdown-header
    display flex
    align-items center
    padding 15px 0
    border-bottom 1px solid gray-lighter-color
    h1
      garamond headline
    div
      height 1.25em
    svg
      margin-left 15px
      transform rotate(270deg)

  .active
    .dropdown-header svg
      transform rotate(0deg)

  .edit-admin__fields
    margin-top 30px
    margin-bottom 120px
    display flex
    justify-content space-between
    .fields-left,
    .fields-right
      width calc(50% \- 15px)
    .field-group
      margin-bottom 40px
      &--inline
        display flex
        align-items center
    .fields-full
      min-width 100%
      display flex
      justify-content space-between
    .fields-col-3
      width calc(33% \- 20px)
    input[disabled], textarea[disabled]
      background-color gray-lightest-color
      border-color gray-lighter-color
      cursor no-drop

  .edit-admin--appearances
    flex-direction column
