section#edit-admin
  section#edit-admin-feature
    h1 Feature
    h2 Choose pages for this post to appear on Artsy.&nbsp;
      | To curate pages like the homepage go to "Featuring" in the sidebar.
    h3 Artist Pages
    ul#eaf-artists.edit-admin-feature-list
      li.eaf-input-li
        label.eaf-input
          input.bordered-input.eaf-artist-input(
            placeholder='Add an artist by url or slug...'
          )
    h3 Artwork Pages
    ul#eaf-artworks.edit-admin-feature-list
      li.eaf-input-li
        label.eaf-input
          input.bordered-input.eaf-artwork-input(
            placeholder='Add an artwork by url or slug...'
          )