@import '../stylus_lib'

gutter-size = 30px

#edit-admin
  padding-top header-size
  display none
  input:not([type=radio]):not([type=checkbox])
    margin-top 35px

#edit-admin-tier, #edit-admin-magazine
  .admin-form-right
    padding-top 47px

#edit-admin-tier label
  avant-garde body

#edit-admin-feature
  h3
    avant-garde body
    margin-bottom 5px
  input, label
    margin 0 !important
  .admin-form-right
    margin-top 12px

#edit-admin-slug
  input
    width 100%
  a
    display inline-block
    color gray-dark-color
    margin-top 10px
    faux-underline()

.edit-admin-feature-list li:not(.eaf-input-li)
  border 2px solid gray-lighter-color
  padding 10px
  position relative
  height 38px
  span
    display inline-block
    overflow ellipsis
    max-width 240px
  &.eaf-mentioned
    color gray-dark-color
    position relative
    cursor pointer
    span
      max-width 190px
    &::after
      content 'Mentioned'
      float right
      avant-garde()
      font-size default-avant-garde-font-size - 2
      color gray-color
      margin-top 2px
      position absolute
      right 10px
    &::before
      content '.'
      color transparent
      background url(/icons/check.svg) center center no-repeat
      position absolute
      right 10px
      background-size 100%
      width 15px
      height 14px
      display none
    &:hover
      color purple-color
      &:before
        display block
        background-image url(/icons/check_p.svg)
      &:after
        content 'Feature'
        right 30px
        color purple-color
  &.eaf-featured
    color purple-color
    position relative
    cursor pointer
    &::after
      content '.'
      color transparent
      background url(/icons/remove_g.svg) center center no-repeat
      position absolute
      right 10px
      background-size 100%
      width 15px
      height 14px

.eaf-input-li input
  padding 6px 12px 7px 12px
  width 100%

.eaf-input, .edit-admin-feature-list li
  width 264px
  margin 0 gutter-size 10px 0

.edit-admin-feature-list li:nth-child(2n+2)
  margin-right 0

.eaf-input, .edit-admin-feature-list, .edit-admin-feature-list li
  display inline-block
  vertical-align top

.edit-admin-feature-list
  width 100%
  margin-bottom 30px