extend ../../../../components/layout/templates/index

block header
  | Published Article

block content
  #edit-mobile
    img( src=article.get('thumbnail_image') )
    .max-width-container
      h1= article.get('thumbnail_title') || article.get('title')
      - section = _.findWhere(article.get('sections'), { type: 'text' })
      .edit-mobile-body!= section && section.body || ''
      .edit-mobile-warning Visit&nbsp;
        b writer.artsy.net&nbsp;
        | on a desktop comptuer to edit this article&rsquo;s content.
      a.avant-garde-button.avant-garde-button-black View Article on Artsy