@import '../stylus_lib'

#edit-mobile
  img
    width 100%
  h1
    font-size 24px
    padding-top mobile-padding
  .avant-garde-button
    margin-top mobile-padding
    display block

.edit-mobile-body
  font-size default-garamond-font-size
  line-height 1.4em
  margin mobile-padding 0
  max-height 100px
  overflow hidden
  position relative
  &::after
    content '.'
    position absolute
    bottom 0
    left 0
    width 100%
    height 50%
    background linear-gradient(to top, white 0%, rgba(255,255,255,0) 100%)

.edit-mobile-warning
  background yellow-light-color
  padding mobile-padding
  line-height 1.2em
