.filter-search__header-container
  position absolute
  top 20px
  right 0
  border none

#articles-list-loading
  position relative
  margin-top 75px
  .loading-spinner
    display none
.article-list__results
  border-top 3px solid gray-lighter-color

.article-list-scheduled
  color green-color