include ../../components/paginated_list/index

block locals
  - hideHeader = true
extend ../../components/layout/templates/index

block content
  #article-list-items.max-width-container
    if !articles
      section.article-list-empty
        p You haven&rsquo;t written any articles yet.
        p Artsy Writer is a tool for writing stories about art on Artsy.
          br
          | Get started by writing an article or reaching out to your liaison for help.
        a.avant-garde-button.avant-garde-button-black.article-new-button( href='/articles/new' )
          include ../../components/layout/public/icons/layout_new_article.svg
          .article-new-text Write An Article
    else
      #articles-list
      #articles-list-loading
        .loading-spinner
