@import '../stylus_lib'

.edit-admin--appearances
  flex-direction column
  .autocomplete-select
    height 250px

.EditAdmin
  margin 95px auto
  input[disabled], textarea[disabled]
    background-color gray-lightest-color
    border-color gray-lighter-color
    cursor no-drop
  .image-upload-form.disabled
    background-color gray-lightest-color
    h1, h2, span
      color gray-lighter-color
  .Autocomplete__item-title
    garamond s-body
  .Autocomplete__list
    margin-top 5px

.AdminVerticalsTags
  .Autocomplete
    z-index inherit
  button.avant-garde-button
    margin 5px 8px 8px 0px
    border-radius 1px
    padding 13px 15px
    &.disabled
      background-color gray-lightest-color
      &:hover
        color black

  .fields-left
    .avant-garde-button.avant-garde-button-black:hover,
    .avant-garde-button.avant-garde-button-black:focus,
    button:active
      background black
      border-color black
    .field-group:first-child
      margin-bottom 30px

.FeaturingList,
.MentionedList
  display flex
  flex-direction column
.FeaturingList__item,
.MentionedList__item
  &:first-child
    margin-top 10px

.MentionedList__item
  .mention
    avant-garde s-headline
    color gray-color
    &:after
      content 'Mentioned'
  &:hover
    .mention
      &:after
        color purple-color
        content 'Feature'
        background url(/icons/check_p.svg) 99% top no-repeat
        background-size 13px 13px
        padding-right 18px
.MentionedList .field-group
  margin 25px 0
