@import '../stylus_lib'

.edit-section-hover-controls
  position absolute
  width 100%
  height 100%
  border 1px solid gray-color
  top 0
  left 0
  opacity 0

.edit-section-remove
  position absolute
  top -(section-tool-size / 2)
  right -(section-tool-size / 2)
  color #ccc
  font-size 19px
  transition color 0.3s ease-out
  cursor pointer
  z-index 3
  &:hover
    color red-color
  svg
    width section-tool-size
    fill-color gray-color
    &:hover
      fill-color red-color
    polygon
      fill white !important

.edit-section-hover-controls
  .edit-section-tool
    position absolute
    left -controls-padding
    &:first-of-type
      top -1px
    &:last-of-type
      bottom -4px
