@import '../../stylus_lib'

.edit-sections__list
  width 100%

.edit-sections__postscript
  max-width standard-body-w-margin
  margin 0 auto
  padding 20px
  font-style italic
  .public-DraftEditorPlaceholder-root
    position absolute
    color gray-dark-color

.standard
  max-width standard-max-width
  margin 0 auto
  .edit-sections__list
    max-width standard-overflow-w-margin
  @media (max-width: 1380px)
    margin 0 40px
