.display-admin
  margin-top 80px
  .admin-form-container
    position relative
  &__section-title
    Garamond s23
    margin-bottom 20px
  &__section--actions
    position absolute
    right 0
    top -5em
  &__section-inner,
  &__section--campaign,
  &__section--canvas,
  &__section--panel
    margin 30px 0
  .plain-text
    position relative
    min-height 4.25em
    p
      font-size 1em
  label
    display flex
    justify-content space-between
    span
      color gray-color
      garamond s-caption
      text-transform none
      letter-spacing 0
  select
    height 2.5em
  .field-group
    margin-bottom 20px
  .save-campaign
    position fixed
    top 10px
    right calc(50vw + 55px - (1120px / 2)) // align button to right container edge
    z-index 110
  .new-campaign
    margin-top 40px
    width 100%
    padding 20px
  .img-logo
    .image-upload-form-preview
      background-size contain

.display-admin--canvas
  &__layouts button
    padding 12px 20px
    &:first-child,
    &:nth-child(2)
      border-right 0
    &[data-active=true]
      color white
      background black
  &-images
    .slideshow-images
      div[class^="Col__Col-"]
        margin-top 20px
        min-width 50%
      .add-new
        margin-top 2em
    &[data-layout=overlay],
    &[data-layout=standard]
      div[class^="Row__Row-"]
        flex-direction row-reverse
