.articles-list
  &__header
    position fixed
    top 0
    left 110px
    right 0
    background-color white
    z-index 10
  &__container
    margin-top 75px
  .filter-search__header-container
    position fixed
    top 8px
    right calc((100vw \- 1070px) \/ 2)
    max-width 960px
    padding 0 30px
    border none
    z-index 20

#articles-list-loading
  position relative
  margin-top 75px
  .loading-spinner
    display none