.SectionVideo
  .RemoveButton
    width 30px
    height 30px
    position absolute
    top -12px
    right -12px
    cursor pointer
    circle
      transition all .3s
    &:hover
      circle
        fill red-color
  div[class*="video__VideoContainer-"]
    z-index -1
  &[data-editing=true]
    z-index 100
    div[class*="video__VideoContainer-"]
      z-index 1
