include ../../components/admin_form/index
extend ../../components/layout/templates/index

block header
  | Organizations

block content
  - model = organization
  .max-width-container
    form.admin-form-container(
      action=(organization.isNew() ?  "/organizations" : "/organizations/#{organization.get('id')}")
      method='post'
    )
      section.admin-form-section
        .admin-form-left
          h1 Organization Details
          h2 General details that apply to all organizations.
        .admin-form-right
          .admin-form-right-col
            +form-elements([
              { attr: 'name', type: 'input' },
              { attr: 'slug', type: 'input' },
              { attr: 'icon_url', type: 'image' }
            ])
          .organization-authors
      button.avant-garde-button.avant-garde-button-black.admin-form-save(
        type='submit' href="/organizations/new"
      ) Save Changes
      unless organization.isNew()
        a.avant-garde-button.admin-form-delete Delete Organization
