@import '../../components/stylus_lib'

.organizations-add, .organizations-save
  width 100%
  padding 15px 0

.organizations-add
  margin-top 20px

.organizations-delete
  margin-top 10px
  color gray-dark-color
  border 0
  text-align left
  padding 20px 0
  &:hover
    color red-color