include ../../components/paginated_list/index

extend ../../components/layout/templates/index

block header
  | Organizations

block content
  .max-width-container
    a.avant-garde-button.avant-garde-button-black.organizations-add(
      href="/organizations/new"
    ) Add Organization
    +paginated-list(page, totalPages, organizations.toPaginatedListItems())