include ../../components/paginated_list/index
extend ../../components/layout/templates/index

block header
  | Sections

block content
  .max-width-container
    a.avant-garde-button.avant-garde-button-black.paginated-list-add(
      href="/sections/new"
    ) Add Section
    +paginated-list(page, totalPages, sections.toPaginatedListItems())