.link
  include ../../apps/edit/public/icons/edit_text_link.svg
.remove
  include ../../apps/edit/public/icons/edit_text_link_remove.svg
.remove-formatting
  include ../../apps/edit/public/icons/edit_text_remove_formatting.svg
.ordered-list-item
  include ../../apps/edit/public/icons/edit_text_ol.svg
.unordered-list-item
  include ../../apps/edit/public/icons/edit_text_ul.svg
.toc
  include ../../apps/edit/public/icons/edit_text_jump_link.svg
.artist
  include ../../apps/edit/public/icons/edit_text_follow_link.svg
