@import '../stylus_lib'

inputs-margin = 15px

#edit-thumbnail
  margin-top header-size
  display none
  header
    text-align center
    width 100%
    overflow hidden
    background gray-lightest-color
    h1
      font-size 27px
      padding-top 40px
    h2
      font-size 16px
      padding 15px 0 43px 0
    img
      height 463px
      display block
      margin auto
      margin-bottom -100px

#edit-thumbnail-inputs
  width 800px
  margin 50px auto
  .dashed-file-upload-container
    width 270px
    height 180px
    garamond()
    color gray-lighter-color
    text-transform none
    letter-spacing 0
    padding-top 66px
    color gray-dark-color
    text-align center
    font-size default-garamond-font-size
    line-height 1.2em
    transition color 0.3s, border-color 0.3s
  label
    avant-garde()
    font-size default-avant-garde-font-size - 2
    > span
      padding-bottom inputs-margin - 5
      display inline-block

error-placeholder()
  color red-color

#edit-thumbnail-inputs.eti-error
  .edit-required[data-hidden=false]
    & + input, & + textarea, & + #edit-thumbnail-upload
      border-color red-color
      color red-color
      placeholder(error-placeholder)
      *
        transition-delay 0

#edit-thumbnail-inputs-right, #edit-thumbnail-inputs-left
  display inline-block
  vertical-align top

#edit-thumbnail-inputs-right
  width 530px
  padding-left inputs-margin
  input, textarea
    width 100%
    display block
  textarea
    height 105px
  label:nth-of-type(2)
    display block
    margin-top 16px

#edit-thumbnail-tags
  margin-top inputs-margin
  display block
  width 100%
  input
    width 100%

#edit-thumbnail-preview
  width calc(100% + 4px)
  height calc(100% + 4px)
  top -2px
  left -2px
  position absolute
  background center center
  background-size cover

#edit-thumbnail-remove
  background #000
  top -2px
  left -2px
  height 30px
  width @height
  line-height @height
  color #fff
  position absolute
  font-size 18px
  font-weight bold
  font-family Helvetica, sans-serif
  cursor pointer
  transition color 0.3s, background-color 0.3s
  z-index 3
  &:hover
    background-color red-color
    color white

#edit-thumbnail-upload.is-uploading
  color transparent
  span
    color transparent
  border-color transparent