@import '../stylus_lib'

inputs-margin = 15px

#edit-thumbnail
  margin-top header-size
  display none
  header
    text-align center
    width 100%
    overflow hidden
    background gray-lightest-color
    h1
      garamond headline
      padding-top 30px
    h2
      garamond l-body
      padding 5px 0 33px 0
    img
      width 860px
      display block
      margin auto

#edit-thumbnail-inputs
  width 860px
  margin 30px auto
  label
    avant-garde s-headline
    > span
      padding-bottom inputs-margin - 5
      display inline-block

error-placeholder()
  color red-color

#edit-thumbnail-inputs.eti-error
  textarea, #edit-thumbnail-upload
    border-color red-color
    color red-color
    placeholder(error-placeholder)
    *
      transition-delay 0

#edit-thumbnail-inputs-right, #edit-thumbnail-inputs-left
  display inline-block
  vertical-align top

#edit-thumbnail-inputs-left .image-upload-form
  height 180px
  width 270px
  h1
    margin-top 60px

#edit-thumbnail-inputs-right
  width 590px
  padding-left inputs-margin
  textarea
    width 100%
    display block
    height 180px
    garamond headline
  .edit-use-article-title
    display inline-block
    margin-left 440px
    avant-garde s-headline
    text-decoration none
    &:hover
      border-bottom 2px solid

.edit-title-textarea
  padding 15px 20px

#edit-email
  width 860px
  margin 30px auto
  avant-garde s-headline
.edit-email-header
  garamond headline
  text-transform none
.edit-email-sub-header
  garamond s-body
  text-transform none
.edit-email-text
  display block
  width 100%
  margin 10px 0
.edit-email-form
  margin-top 20px
  label
    margin-top 15px
.edit-email-url
  avant-garde s-headline
  span
    text-transform none
    garamond l-caption

#edit-email-upload
  margin 10px 0px
  .image-upload-form
    width 276px
    height 196px
    h1
      margin-top 70px
