section#edit-thumbnail
  header
    h1 Prepare your article for Artsy and social media
    h2 Choose a thumbnail image and title that captures the user&rsquo;s attention
    img( src='/images/edit_prepare_example.png')
  form#edit-thumbnail-inputs
    #edit-thumbnail-inputs-left
      include form
    #edit-thumbnail-inputs-right
      label#edit-thumbnail-title
        span.edit-required Title
        a.edit-use-article-title( href='#' ) Use article title
        textarea.bordered-input.edit-title-textarea(
          placeholder="Type a title that captures your reader's attention"
        )= article.get('thumbnail_title')
        .edit-char-count-message Remaining Characters:
          .edit-char-count