@import '../../../stylus_lib'

li-height = 620px

.edit-section-container[data-type=slideshow]
  width 100%
  position inherit

.edit-section-container[data-type=slideshow]
.edit-section-container[data-type=slideshow] .edit-section-hover-controls
.edit-section-container[data-type=slideshow][data-editing=true]::after
.edit-section--slideshow li
  height li-height

.edit-section--slideshow
  li
    display inline-block
    vertical-align top
    margin-right controls-padding
    text-align left
    img
      max-height 100%
      height 500px

  .ess-container
    overflow scroll

  .ess-list
    width 99999px
    position relative
    z-index -1
    height (li-height - 40px)
    overflow-y hidden
    display inline-block

  .ess-loading-artwork
    height img-height
    width 500px
    background gray-lightest-color
    position relative

  .ess-artwork-details
    margin-top 5px
    line-height 20px
    font-size 15px
    color gray-dark-color
    width 100%
    > *
      overflow ellipsis