.rich-text--paragraph
  position relative

div[class^='Caption__CaptionContainer']
  .rich-text--paragraph a
    border-bottom 1px solid

.TextNav
  position absolute
  top -40px
  left 0
  display flex !important
  flex-wrap wrap
  background black
  justify-content center
  border-radius 5px
  z-index 10
  ::after
    content ''
    width 0
    height 0
    border-left 7px solid transparent
    border-right 7px solid transparent
    border-top 7px solid #000
    position absolute
    bottom -7px
    left calc(50% \- 7px)
  button
    font-weight 600
    height 40px
    width 50px
    color gray-dark-color
    line-height 1em !important
    background none
    border none
    border-right 1px solid gray-darkest-color
    border-radius 0
    transition color .15s
    &:last-child
      border-right none
    &:hover
      color gray-color
    &.italic,
    &.strikethrough,
    &.header-two,
    &.header-three
      garamond l-body
    &.header-one
      Unica s19
      font-size 18px
    &.bold
      font-weight 600
      avant-garde l-headline
    &.strikethrough
      text-decoration line-through
    &.italic
      font-style italic
    svg
      width 18px
      height 18px
    circle, g, path
      fill gray-dark-color
      transition all .15s
    &:hover
      circle, g, path
        fill gray-color
      &:hover g
        stroke gray-color
