//
// A responsive 3 column grid that has labels on the left and form elements
// on the right 2 columns. Used in the admin section of articles, in vertical
// edit UI, and useful for generic form element containers.
//

gutter-size = 30px

.admin-form-container label
  avant-garde s-headline
  width 100%
  margin-bottom 20px
  display block
  &:last-of-type
    margin-bottom 0

.admin-form-container
  .bordered-input, .image-upload-form, .autocomplete-select-selected,
  .flat-checkbox, .flat-radio-button
    garamond s-body
    display block
    width 100%
    margin-top 5px

.admin-form-right-fill > label:last-of-type
.admin-form-left > label:last-of-type
.admin-form-right > label:last-of-type
  margin-bottom 0

.admin-form-left
  width 33.3333%

.admin-form-left, .admin-form-right-col, .admin-form-right
  display inline-block
  vertical-align top

.admin-form-right-col
  width 50%
  padding-right (gutter-size / 2)

.admin-form-right-col + .admin-form-right-col
  padding-left (gutter-size / 2)
  padding-right 0

.admin-form-input-section
  display inline-block
  width 50%

.admin-form-input-section + .admin-form-input-section
  padding-left gutter-size

.admin-form-right
  padding-left gutter-size
  width 66.6666%

.admin-form-left
  garamond headline
  h2
    garamond s-body
    margin-top 5px

.admin-form-right
  margin-right 0

.admin-form-section
  border-bottom 1px solid gray-lighter-color
  padding (gutter-size) 0
  &:last-of-type
    border-bottom 0

.admin-form-subheader
  avant-garde m-headline
  margin 20px 0

.admin-form-save
  width 100%
  padding 15px 0

.admin-form-delete
  margin-top 10px
  color gray-dark-color
  border 0
  text-align left
  padding 20px 0
  &:hover
    color red-color

.admin-form-right-col + label
  margin-top 20px

.admin-form-autocomplete-partner
  margin-top 20px

@media (max-width: 768px)
  .admin-form-right-col
    width 100%
  .admin-form-right-col + .admin-form-right-col
    padding-left 0
  .admin-form-input-section
    width 100%
  .admin-form-input-section + .admin-form-input-section
    padding-left 0

@media (max-width: 414px)
  .admin-form-right, .admin-form-left
    width 100%
    padding-left 0
  .admin-form-left
    margin-bottom gutter-size
  .admin-form-section
    padding gutter-size 0
    border-bottom 0
  .admin-form-right-col + .admin-form-right-col
    margin-top 20px
  .admin-form-input-section + .admin-form-input-section
    margin-top 20px