.SectionFooter
  &__postscript
    padding 20px
    .public-DraftEditorPlaceholder-root
      Garamond s23
      font-style italic

[data-layout=standard]
  .SectionFooter
    max-width 820px
    margin-left 0
    .public-DraftEditorPlaceholder-root
      Garamond s19
