@import './lib'

#edit-content
  margin-top header-size

#edit-title
  position relative
  .edit-required
    position absolute
    top 0
    width 100%
    text-align center
    z-index -1
    &::after
      left 100px
      top 66px
      position relative
  input
    width 100%
    text-align center
    font-size 40px
    margin 60px 0 30px 0

.edit-required::after
  content '*'
  garamond()
  font-size 22px
  color red-color

#edit-author-section
  text-align center
  width 100%
  avant-garde()
  font-size small-avant-garde-font-size + 1
  marigin-bottom whitespace-block-size
  p
    display inline-block
    &:after
      content '\2022'
      margin 0 10px
    &:last-child:after
      display none

.edit-body-contianer
  width body-width
  margin auto

#edit-preamble
  margin 20px auto whitespace-block-size auto
  input
    font-size 20px

.edit-section-tool
  avant-garde()
  font-size small-avant-garde-font-size
  color gray-color

.edit-section-tool
  border-radius 50px
  font-size small-avant-garde-font-size + 1
  cursor pointer
  transition color 0.3s
  &:hover
    color black
    svg
      fill-color black
  svg
    fill-color gray-lighter-color
    height 35px
    position relative
    left -56px
    top 23px