.edit-admin--article
  flex-direction column
  .flat-checkbox
    width 230px
    &[name=indexable]
      margin-top 15px
      margin-bottom 15px
  label
    display flex
    justify-content space-between
    span
      font-family garamond s-body
      font-style italic
      text-transform capitalize
      color gray-dark-color
  .publish-time .field-group--inline
    margin-bottom 30px
    button
      color white
      background gray-color
      padding 13px 20px
      margin-top 5px
      margin-left 20px
      min-width 125px
      border 2px solid gray-color
      &:hover
        background purple-color
        border-color purple-color
        &.scheduled
          background gray-lightest-color
          color red-color
          border-color gray-color
          &:after
            content 'Unschedule'
      &.scheduled
        &:after
          content 'Scheduled'

    input[type=date]
      border-right none
    input[type=time]
      width 330px
      border-left none
    input[type=date], input[type=time]
      border-color gray-color
      transition border-color .5s
    input.active
      border-color purple-color

  &.edit-admin__fields .tier-feed .field-group
    width 50%
    margin-bottom 40px
  .button-group
    margin-top 5px
    button
      padding 13px 20px
      border 2px solid gray-color
      color gray-color
      &:hover
        color purple-color
      &.active
        color black
      &:first-child
        border-right none