//
// Generic styles used accross components, too small to warrent their own
// component directory structure, or applied to general layout of the edit app.
//

@import '../stylus_lib'
@import '../content/article_layouts/styles/series'
@import '../content/article_layouts/styles/video'
@import './components/yoast/yoast'

.EditContent
  padding 95px 0
  min-height 100vh
  a
    text-decoration none

// Circular remove button
.edit-section-remove
  position absolute
  top -(section-tool-size / 2)
  right -(section-tool-size / 2)
  color #ccc
  font-size 19px
  transition color 0.3s ease-out
  cursor pointer
  z-index 2
  &:hover
    color red-color
    svg
      fill-color red-color
  svg
    width section-tool-size
    fill-color gray-color
    polygon
      fill white !important

.edit-section-drag
  position absolute
  top 40px
  right -(section-tool-size / 2)
  background-color gray-color
  z-index 2
  width section-tool-size
  height section-tool-size
  border-radius 50%
  svg
    width section-tool-size
    fill-color white

// Fields with red asktericks
.edit-required
  &::after
    content '*'
    garamond()
    font-size 22px
    color red-color
    position absolute
    margin-top -6px
    margin-left 3px
  &[data-hidden=true]::after
    display none

// Fixed section controls
.edit-section-controls[data-fixed=true]
  position fixed !important
  top header-size !important
  z-index 4 !important

// General content layout
.edit-header-container
  padding-top 20px

#edit-content__overlay
  width 100vw
  height 100vh
  background-color black
  opacity 0.25
  display none
  position fixed
  top 0
  z-index 6
  overflow hidden
  &.disabled
    display block

#edit-title
  position relative
  width overflow-width
  margin 40px auto 0 auto
  .edit-required
    position absolute
    top 0
    width 100%
    text-align center
    z-index -1
    &::after
      left 100px
      position relative
  textarea
    garamond l-headline
    width 100%
    text-align center
    margin-bottom -20px

.edit-author-section
  text-align center
  width body-width
  margin 35px auto 0 auto
  padding controls-padding 0
  .article-author
    avant-garde m-headline
  .article-date
    avant-garde s-headline
    line-height 25px
    color gray-dark-color

.edit-body-container
  width body-width
  margin auto

#edit-lead-paragraph
  margin 20px auto 35px auto
  width body-width
  font-size 20px
  line-height 26px
  .public-DraftEditor-content
    div[data-blocK]
      margin-bottom 1em
    div[data-blocK]:last-child
      margin-bottom 0

#edit-sections-spinner
  position fixed
  top header-size
  left sidebar-width
  width "calc(100% - %s)" % sidebar-width
  height "calc(100% - %s)" % header-size
  z-index 4
  background rgba(255,255,255,0.8)

.esa-spinner-container
  position relative
  width 100%
  height 100px

// Draft placeholder sit inline with content
.DraftEditor-root
  position relative
.public-DraftEditorPlaceholder-root
  position absolute
  top 0
  left 0
  right 0
  color gray-dark-color
