.edit-admin--featuring
  flex-direction column
  .field-group--inline
    margin-top 10px
  .flat-checkbox
    width 260px
    margin-top 30px
  .feature-mention
    border 2px solid gray-lighter-color
    color gray-darker-color
    display flex
    justify-content space-between
    align-items center
    padding 5px 10px
    margin-top 10px
    position relative
    cursor pointer
    &.feature
      color purple-color
    .mention
      avant-garde s-headline
      color gray-color
      &:after
        content 'Mentioned'
    .remove:after
      content '.'
      color transparent
      background url(/icons/remove_g.svg) center center no-repeat
      position absolute
      right 10px
      top 11px
      background-size 100%
      width 15px
      height 14px
    &:hover
      .mention
        &:after
          color purple-color
          content 'Feature'
          background url(/icons/check_p.svg) 99% top no-repeat
          background-size 13px 13px
          padding-right 18px
      .mention:before
        display block
      .remove:after
        background url(/icons/remove_r.svg) center center no-repeat