section.error-modal-alert
  h1 Sorry there was an unexpected error
  h2 Our engineers have been notified. You can try again later or help us by submitting a bug report. Thanks for your patience.
  if error
    pre
      = error.message || error.toString()
      br
      = error.stack
      br
      if error.response
        = error.status
        br
        = error.response.req._header
        = error.response.text
  .error-modal-buttons
    a.error-modal-close.avant-garde-button.avant-garde-button-dark( href='/' ) Try again later
