@import '../stylus_lib'
@import '../layout/stylesheets/form_elements'

global-reset()

#error
  .error-modal-alert
    margin 100px auto
    width 550px

#error-logo
  position absolute
  top 10px
  left @top

#error-not-found
  garamond()
  font-size 20px
  line-height 1.4em
  position absolute
  top 50%
  margin-top -(@font-size + 4px)
  text-align center
  width 100%
  a
    color black
    faux-underline()

.error-modal
  position relative
  padding-left 60px
  margin 0 !important

.error-modal-alert
  position relative
  &::before
    content '!'
    avant-garde()
    font-smoothing none
    color red-color
    width 33px
    height @width
    line-height @width
    border-radius @width
    border 2px solid red-color
    position absolute
    top 0
    left -55px
    text-align center
    font-size 29px
    font-weight bold
  h1
    avant-garde()
    font-size default-avant-garde-font-size
    margin-bottom 5px
  h2
    garamond()
    font-size default-garamond-font-size
    line-height 1.4em
    margin-bottom 20px
  pre
    background gray-lightest-color
    color gray-darker-color
    padding 10px
    overflow scroll
    font-family monospace
    font-size 12px
    margin-bottom 30px
    word-break break-word
    max-height 400px

.error-modal-buttons
  text-align right
  button:first-child
    margin-right 10px

.error-modal-report
  display none

.error-modal-report-textarea
  height 100px
  margin 20px 0
  width 100%
