.edit-controls
  background black
  z-index 5
  height auto
  top inherit
  .es-layout
    width 100%
    text-align center
    height 45px
    a
      display inline-block
      height 40px
      width @height + 20px
      background-repeat no-repeat
      background-position 50%
      transition opacity 0.3s
      opacity 0.5
      cursor pointer
        &:hover
          opacity 1
      &[data-active=true]
        opacity 1
      &[name=overflow_fillwidth]
        background-image url(/icons/edit_artworks_overflow_fillwidth.svg)
        background-size 38px
      &[name=column_width]
        background-image url(/icons/edit_artworks_column_width.svg)
        background-size 22px
      &[name=image_set]
        background-image url(/icons/edit_image_set_slideshow.svg)
        background-size 22px