.edit-controls
  background black
  z-index 5
  height auto
  top inherit
  width 100%
  &__layout
    width 100%
    text-align center
    height 45px
  .dashed-file-upload-container
    border-color gray-darker-color
    transition border-color 0.3s, color 0.3s
    padding controls-padding
    avant-garde()
    background black
    color white
    text-align center
    &:hover, &.is-dragover
      border-color white
      span
        color gray-darker-color
    &.is-dragover
      .dashed-file-upload-container-drop
        color white
    &:hover
      border-color gray-darker-color
      .dashed-file-upload-container-click
        color white
    span
      transition color 0.3s
    h1
      font-size default-avant-garde-font-size - 1
    h2
      font-size small-avant-garde-font-size
      color gray-darker-color
      margin-top 10px

#edit-content .edit-controls a
  display inline-block
  height 40px
  width @height + 20px
  background-repeat no-repeat
  background-position 50%
  transition opacity 0.3s
  opacity 0.5
  cursor pointer
    &:hover
      opacity 1
  &[data-active=true]
    opacity 1
  &[name=overflow_fillwidth]
    background-image url(/icons/edit_artworks_overflow_fillwidth.svg)
    background-size 38px
  &[name=column_width]
    background-image url(/icons/edit_artworks_column_width.svg)
    background-size 22px
  &[name=image_set]
    background-image url(/icons/edit_image_set_slideshow.svg)
    background-size 22px

.standard .edit-section__container
  &[data-layout=column_width] .edit-controls
    max-width standard-body-w-margin
  &[data-layout=overflow_fillwidth],
  &[data-type=image_set]
    .edit-controls
      max-width standard-overflow-w-margin

.classic .edit-section__container
  &[data-layout=column_width] .edit-controls
    max-width classic-body-w-margin
  &[data-layout=overflow_fillwidth],
  &[data-type=image_set]
    .edit-controls
      max-width classic-overflow-w-margin

.feature .edit-section__container
  &[data-layout=column_width] .edit-controls
    max-width feature-body-w-margin
  &[data-layout=overflow_fillwidth],
  &[data-type=image_set]
    .edit-controls
      max-width feature-overflow-w-margin
