@import '../stylus_lib'

#edit-hero-section
  width body-width + (controls-padding * 2)
  margin 100px auto 20px auto
  .edit-section-tool:only-child:not([data-state-open="true"])
    fill-color gray-color
    &::after
      display none
    &:hover
      fill-color black
  .edit-section-container[data-type=video], .edit-section-container[data-type=image]
    min-height 400px
    width 1100px
    margin-left -280px
  .esi-placeholder
    line-height 480px

#edit-hero-section
  .edit-section-tool-menu
    li
      width 50%
    li:first-child:nth-last-child(3),
    li:first-child:nth-last-child(3) ~ li
      width 33.3%
  .edit-section-video
    .esv-placeholder
      line-height 500px
    iframe
      min-height 590px
