@import '../../stylus_lib'

@keyframes fadein
  0% {
    opacity 0
  }
  100% {
    opacity 1
  }

.edit-section__container
  animation fadein 0.15s
  z-index 1
  transition transform .15s
  width 100%
  position relative
  padding 20px
  &:hover
    .edit-section__hover-controls
      opacity 1
  &[data-editing=true]
    .edit-section__hover-controls
      opacity 1
      border 1px solid rgba(100,100,100,1)
      button
        display none
    .edit-section__container-bg
      display block
    &[data-type=text]
      .edit-section__hover-controls
        border 1px solid rgba(100,100,100,0)

.edit-section__container-bg
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  z-index 1
  display none

.edit-section__hover-controls
  position absolute
  width 100%
  height 100%
  border 1px solid rgba(100,100,100,0.33)
  top 0
  left 0
  opacity 0
  button
    position absolute
    right -15px
    color gray-color
    z-index 2
    cursor pointer
    svg
      width 30px
    &.edit-section__remove
      top -15px
      svg circle
        fill gray-color
        transition all 0.3s ease-out
      &:hover
        svg circle
          fill red-color
    &.edit-section__drag
      top 40px
      background-color gray-color
      width 30px
      height 30px
      border-radius 50%

.classic
  [data-layout='column_width']
    max-width classic-body-w-margin
    margin 0 auto
  [data-layout='overflow_fillwidth']
    max-width classic-overflow-w-margin
    margin 0 auto

.standard
  [data-layout='column_width']
    max-width standard-body-w-margin
    margin 0 auto
  [data-layout='overflow_fillwidth']
    max-width standard-overflow-w-margin

.feature
  [data-layout='column_width']
    max-width feature-body-w-margin
    margin 0 auto
  [data-layout='overflow_fillwidth']
    max-width feature-overflow-w-margin
    margin 0 auto
  [data-layout='blockquote']
    max-width feature-blockquote-width
    margin 0 auto
  [data-layout='fillwidth']
    max-width 100%

