header#edit-header
  nav#edit-tabs
    a.avant-garde-button.is-active Content
      include ../../../components/layout/public/icons/check.svg
    a.avant-garde-button Thumbnail View
      include ../../../components/layout/public/icons/check.svg
    a#edit-publish.avant-garde-button.is-disabled Publish
  #edit-header-right
    a#edit-delete.avant-garde-button Delete
    a#edit-save.avant-garde-button Save #{article.stateName()}
    a#edit-preview.avant-garde-button
      if article.get('state') == 'draft'
        | Preview
      else
        | View