header#edit-header
  nav#edit-checklist
    button.avant-garde-button Content
    button.avant-garde-button Summary View
    button.avant-garde-button#edit-publish( disabled ) Publish
  #edit-header-right
    button.avant-garde-button#edit-delete Delete
    button.avant-garde-button#edit-save Save #{article.stateName()}
    button.avant-garde-button#edit-preview
      if article.get('state') == 0
        | Preview
      else
        | View