#edit-seo
  position fixed
  width calc(100% \- 110px)
  top 55px
  z-index 4
  .edit-seo
    &__header-container
      cursor pointer
      height 40px
      padding 0 20px
      display flex
      align-items center
      background-color #f8f8f8
      border-bottom 1px solid gray-lighter-color
    &__close
      margin-left auto
      svg
        vertical-align middle
        transition all 0.25s
    &__close.active
      svg
        transform rotate(45deg)
    &__unresolved-msg
      color green-color
      &.bad
        color red-color
    &__header, &__unresolved-msg
      garamond('l-caption')

#yoast-container
  display none
  background-color white
  border-bottom 1px solid gray-lighter-color
  .yoast-container
    &__left, &__right
      display inline-block
    &__left
      top 0
      width 360px
      vertical-align top
      padding 30px 0 30px 30px
      label
        avant-garde('s-headline')
      #edit-seo__focus-keyword
        width 300px
    &__right
      margin 30px
      width calc(100% \- 420px)
      border-left 1px solid gray-lighter-color
      padding-left 30px

#edit-seo__snippet
.screen-reader-text
#edit-seo__content-field
  display none

.wpseo-score-icon
  &.bad, &.ok, &.good, &.na
  	display inline-block
  	width 10px
  	height 10px
  	margin 8px 10px 0 0
  	border-radius 50%
  	vertical-align top
  &.na
    background gray-dark-color
  &.bad
  	background #dc3232
  &.ok
  	background #ee7c1b
  &.good
  	background #7ad03a

.wpseoanalysis
  li
    display inline-block
    width 49%
    vertical-align top
    padding-bottom 10px

.wpseo-score-text
  garamond('l-caption')
  display block
  margin -22px 10px 0 20px