#yoast-container
  .yoast-container
    .yoast-container__left
      label Target Keyword
        input#edit-seo__focus-keyword.bordered-input(value= article.get('seo_keyword'))
        br
      input#edit-seo__content-field
      #edit-seo__snippet
    .yoast-container__right
      #edit-seo__output