@import '../../node_modules/nib'
@import '../../node_modules/artsy-ezel-components/stylus_lib/typography'

// Widths
small-avant-garde-font-size = 10px
sidebar-width =110px
whitespace-block-size = 35px

// Helpers
fill-color(col, time=0.3s)
  *
    transition fill time
    fill col