section#edit-content
  #edit-hero-section
  .edit-header-container
    #edit-title
      .edit-required
      textarea.invisible-input( placeholder='Type a title' )= article.get('title')
    #edit-lead-paragraph.edit-body-container(
      contenteditable=true
    )!= article.get('lead_paragraph')
    .edit-author-section
      if article.get('author')
        p= article.get('author').name
      p= moment(article.get('published_at') || moment()).format('MMM D, YYYY h:mm a')
  .edit-body-container
  #edit-sections.edit-body-container