if article.get('published')
  - date = article.get('published_at')
else
  - date = article.get('scheduled_publish_at') ? article.get('scheduled_publish_at') : ''

section#edit-content
  #edit-hero-section
  .edit-header-container
    #edit-title
      .edit-required
      textarea.invisible-input( placeholder='Type a title' )= article.get('title')
    #edit-lead-paragraph.edit-body-container
    .edit-author-section
      if article.get('author')
        p.article-author= article.get('author').name
      p.article-date= moment(date).format('MMM D, YYYY h:mm a')
  .edit-body-container
  #edit-sections.edit-body-container
