section#edit-content
  if sd.CURRENT_CHANNEL.get('type') === 'editorial'
    #edit-seo
      .edit-seo__header Seo Analysis —
      .edit-seo__unresolved-msg
      .edit-seo__open: include ../../../../components/layout/public/icons/circle_plus.svg
  #edit-hero-section
  .edit-header-container
    #edit-title
      .edit-required
      textarea.invisible-input( placeholder='Type a title' )= article.get('title')
    #edit-lead-paragraph.edit-body-container(
      contenteditable=true
    )!= article.get('lead_paragraph')
    .edit-author-section
      if article.get('author')
        p= article.get('author').name
      p= moment(article.get('published_at') || moment()).format('MMM D, YYYY h:mm a')
  .edit-body-container
  #edit-sections.edit-body-container
