extend ../../../../components/layout/templates/index

block locals
  - hideHeader = true

block content
  include ../header/index
  #edit-tab-pages
    include content
    #edit-sections-spinner
      .loading-spinner
    include ../thumbnail/index
    include ../admin/index