//
// Generic styles used accross components, too small to warrent their own
// component directory structure, or applied to general layout of the edit app.
//

@import '../stylus_lib'

// Circular remove button
.edit-section-remove
  position absolute
  top -(section-tool-size / 2)
  right -(section-tool-size / 2)
  color #ccc
  font-size 19px
  transition color 0.3s ease-out
  cursor pointer
  z-index 2
  &:hover
    color red-color
    svg
      fill-color red-color
  svg
    width section-tool-size
    fill-color gray-color
    polygon
      fill white !important

// Fields with red asktericks
.edit-required
  &::after
    content '*'
    garamond()
    font-size 22px
    color red-color
    position absolute
    margin-top -6px
    margin-left 3px
  &[data-hidden=true]::after
    display none

// Fixed section controls
.edit-section-controls[data-fixed=true]
  position fixed !important
  top header-size !important
  z-index 4 !important

// General content layout
#edit-content
  margin-top header-size
  a
    faux-underline()
    text-decoration none

#edit-title
  position relative
  width overflow-width
  margin 40px auto 0 auto
  .edit-required
    position absolute
    top 0
    width 100%
    text-align center
    z-index -1
    &::after
      left 100px
      position relative
  textarea
    garamond l-headline
    width 100%
    text-align center
    margin-bottom -20px

.edit-author-section
  text-align center
  width body-width
  avant-garde()
  font-size small-avant-garde-font-size + 1
  margin 35px auto 35px + 5px auto
  border-top 1px solid gray-lighter-color
  border-bottom @border-top
  padding controls-padding 0
  p
    display inline-block
    &:after
      content '\2022'
      margin 0 10px
    &:last-child:after
      display none

.edit-body-container
  width body-width
  margin auto

#edit-lead-paragraph
  margin 20px auto 35px auto
  width body-width
  font-size 20px
  line-height 26px
  &.is-empty::before
    content 'Lead paragraph (optional)'
    color gray-dark-color
    position absolute

#edit-sections-spinner
  position fixed
  top header-size
  left sidebar-width
  width "calc(100% - %s)" % sidebar-width
  height "calc(100% - %s)" % header-size
  z-index 4
  background rgba(255,255,255,0.8)

.esa-spinner-container
  position relative
  width 100%
  height 100px
