//
// Generic styles used accross components, too small to warrent their own
// component directory structure, or applied to general layout of the edit app.
//

@import '../stylus_lib'

// Circular remove button
.edit-section-remove
  position absolute
  top -(section-tool-size / 2)
  right -(section-tool-size / 2)
  color #ccc
  font-size 19px
  transition color 0.3s ease-out
  cursor pointer
  z-index 3
  &:hover
    color red-color
  svg
    width section-tool-size
    fill-color gray-color
    &:hover
      fill-color red-color
    polygon
      fill white !important

// Fields with red asktericks
.edit-required
  &::after
    content '*'
    garamond()
    font-size 22px
    color red-color
    position absolute
    margin-top -6px
    margin-left 3px
  &[data-hidden=true]::after
    display none

// Fixed section controls
.edit-section-controls[data-fixed=true]
  position fixed !important
  top header-size !important
  z-index 4 !important

// General content layout
#edit-content
  margin-top header-size

#edit-title
  position relative
  .edit-required
    position absolute
    top 0
    width 100%
    text-align center
    z-index -1
    &::after
      left 100px
      top 66px
      position relative
  input
    width 100%
    text-align center
    font-size 40px
    margin 60px 0 30px 0

#edit-author-section
  text-align center
  width 100%
  avant-garde()
  font-size small-avant-garde-font-size + 1
  marigin-bottom whitespace-block-size
  p
    display inline-block
    &:after
      content '\2022'
      margin 0 10px
    &:last-child:after
      display none

.edit-body-container
  width body-width
  margin auto

#edit-lead-paragraph
  margin 20px auto whitespace-block-size auto
  input
    font-size 20px
