thumbnail-width = 145px

// .article-list
//   &__article
//     &.locked
//       color gray-dark-color
//       pointer-events none
//       cursor not-allowed
//       &:hover
//         opacity 1
//     &:hover
//       opacity .7
//       cursor pointer

//   &__preview
//     padding 11px 18px
//     &.locked
//       color gray-dark-color
//       pointer-events none
//       vertical-align middle
//       &:hover
//         color gray-dark-color
//     .lock
//       height 15px
//       width 15px
//       margin-right 5px
//       display inline-block
//       vertical-align middle
//     .title
//       margin-left 5px
//       vertical-align middle
