@import '../../../stylus_lib'

.edit-section--text
  position relative
  z-index -1
  &.is-editing
    z-index 100
  ol li, ul li, li
    list-style none
    .public-DraftStyleDefault-ltr
      display list-item
      margin-left 20px
      padding-left 10px
  ol li .public-DraftStyleDefault-ltr,
  li.public-DraftStyleDefault-orderedListItem .public-DraftStyleDefault-ltr
    list-style decimal
  ul li .public-DraftStyleDefault-ltr,
  li.public-DraftStyleDefault-unorderedListItem .public-DraftStyleDefault-ltr
    list-style disc
  li
    padding .5em 0
  nav
    &.has-plugins
      button[name='remove-formatting'],
      button[name='header-three']
        border-right none
  &__input
    position relative
    .artist-follow
      background-image none !important
      &:before
        content url(/icons/circle_plus.svg)
        padding-left 10px
        vertical-align -8.5px
      &:after
        content 'Follow'
        garamond('s-body')
        text-transform none
        letter-spacing 0px


.classic .edit-section--text
  garamond l-body
  p
    padding-top .75em
    padding-bottom .75em
  h2
    garamond l-header
    font-size 28px
    line-height 1.2em
    padding-top .5em
  h3
    avant-garde body
    line-height 27px
    span
      font-style normal !important
  blockquote
    garamond l-headline
    text-align center

.standard .edit-section--text,
.feature .edit-section--text
  Garamond s23
  p
    padding-top 1em
    padding-bottom 1em
    &:first-child
      padding-top 0
    &:last-child
      padding-bottom 0
  h2
    Garamond s40
  h3
    Unica s19
    padding-top 23px
  blockquote
    padding-top 46px
    padding-bottom 46px
  .content-end
    background-color black
    height 15px
    width @height
    border-radius 50%
    display inline-block
    margin-left 15px

.standard .edit-section--text
  blockquote
    Garamond s50

.feature .edit-section--text
  blockquote
    Unica s69
  h1
    Unica s40
    text-align center
    padding-bottom 46px
    padding-top 107px
    position relative
    &:before
      position absolute
      top 69px
      right calc(50% \- 7.5px)
      content '.'
      height 15px
      width @height
      background black
      border-radius 50%
      color rgba(0,0,0,0)
  .content-start
    Unica s69, medium
    float left
    line-height .5em
    margin-right 10px
    margin-top .298em
    text-transform uppercase

