@import '../stylus_lib'

left-padding = 40px

.twitter-typeahead
  position relative
  
.tt-dropdown-menu
  width 100%
  border 1px solid gray-lighter-color
  z-index 3
  background white
  margin-top -1px

.tt-suggestion
  padding 10px 10px 10px left-padding
  border-bottom 1px solid gray-lighter-color
  cursor pointer
  &:last-child
    border-bottom 0

.tt-cursor
  background-color gray-lighter-color
  
.twitter-typeahead
  width 100%

.twitter-typeahead input
  border-width 1px
  padding 7px 8px 7px left-padding
  background url("/autocomplete_search.svg") 9px 6px no-repeat
  background-size 20px
  
.tt-input:focus
  border-color gray-lighter-color
  
  