include ../../components/paginated_list/index
extend ../../components/layout/templates/index

block header
  | Brand Partners

block content
  .max-width-container
    a.avant-garde-button.avant-garde-button-black.paginated-list-add(
      href="/brand-partners/new"
    ) Add Brand Partner
    +paginated-list(page, totalPages, brandPartners.toPaginatedListItems())