@import '../../stylus_lib'

section-btn-height = 130px

.edit-tool
  z-index 1
  max-height 0
  position relative
  margin-left auto
  margin-right auto
  width 100%
  &[data-editing=true]
    z-index -1
  &:last-child
    opacity 1
    margin-top 15px
  &__container
    width section-tool-size - 11px
  &:hover
    .edit-tool__container
      width 100%
    .edit-tool__icon
      svg path
        fill black
      &::before
        opacity 1
        max-width 800px

.edit-tool__icon
  position relative
  cursor pointer
  top -6px
  &::before
    content '.'
    border-top 2px solid black
    position absolute
    top 6px
    left 16px
    width "calc(100% - %s)" % @left
    max-width 0
    color transparent
    opacity 0
    transition opacity 0.15s ease-out, max-width 0.15s ease-out
    height 20px
    z-index 2
  svg
    z-index 1
    transition fill 0.1s
    width section-tool-size + 10px
    height section-tool-size + 10px
    position absolute
    left -18px
    top -13px

.edit-tool__menu
  display flex
  border 2px solid black
  position relative
  left 0
  width 100%
  overflow hidden
  border-top-color transparent
  background gray-lightest-color
  li
    flex 1
    avant-garde()
    background white
    height 89px
    border-right 1px solid gray-color
    border-bottom 1px solid gray-color
    vertical-align top
    font-size small-avant-garde-font-size
    display flex
    flex-direction column
    align-items center
    justify-content center
    cursor pointer
    position relative
    &:last-child
      border-right none
    svg
      max-width 40px
      max-height 35px
      height 35px
      margin-bottom 5px

.edit-tool[data-state-open="true"]
  max-height (section-btn-height * 4)
  width 100%
  transition max-height 0.15s linear, opacity 0.15s linear
  .edit-tool__icon::before
    opacity 1
    max-width 800px

.edit-sections__list
  .edit-tool[data-state-open="true"]
    .edit-tool__icon
      &::after
        display block
  .edit-tool[data-state-open="false"]
    .edit-tool__icon
      opacity 0
      &:hover
        opacity 1
  .edit-tool[data-visible=true]
    padding-bottom 40px
    .edit-tool__icon
      opacity 1
    &::after
      content 'Add a section'
      width 150px
      display block
      float left
      position absolute
      top -6px
      left 35px
      avant-garde()
      font-size default-avant-garde-font-size - 1
    &:hover::after,
    &[data-state-open="true"]::after
      display none

[data-layout='classic'] .edit-tool
  max-width classic-body-w-margin
  &[data-hero=true]
    max-width 640px

[data-layout='standard'] .edit-tool
  max-width standard-body-w-margin

[data-layout='feature'] .edit-tool
  max-width feature-body-w-margin
