@import '../stylus_lib'

.draft-caption
  display flex
  justify-content flex-start
  position relative
  &__input
    width calc(100% \- 85px)
    garamond l-caption
    padding-top 8px
  .public-DraftEditorPlaceholder-root
    position absolute
    color gray-dark-color
  .bordered-input.has-focus
    border-color purple-color
  &__actions
    height 40px
    width 85px
    background-color black
    display flex
    justify-content space-around
    button
      width 50%
      background none transparent
      outline none
      border none
      padding 10px
      color gray-dark-color
      &:hover
        color gray-color
        svg path
          fill gray-color
      svg
        width 14px
        height 14px
        path
          fill gray-dark-color
          transition all 0.15s
    .italic
      garamond l-body
      font-style italic
      font-weight 600
      line-height 1em
      border-right 1px solid gray-darkest-color
      width calc(50% \- 1px)
  &__url-input
    position absolute
    left 0
    top calc(100% \- 10px)
    background-color black
    padding 10px
    input
      background-color white
      max-width 300px
      garamond l-caption
      height 30px
    svg
      width 35px
      height 35px
      position absolute
      right 90px
      top 8px
      cursor pointer
      z-index 100
      &:hover polygon
        fill red-color
        transition color .15s
    button.remove-link
      margin-left -30px
      width 30px
      background none transparent
      border none
    button.add-link
      background gray-lighter-color
      border 0
      padding 0
      width 80px
      height 30px
      text-align center
      avant-garde s-headline
      transition color .15s
      &:hover
        color purple-color
    button.add-link::after
      content ''
      width 0
      height 0
      border-left 7px solid transparent
      border-right 7px solid transparent
      border-bottom 7px solid #000
      position absolute
      top -7px
      left 50%
