@import '../stylus_lib'

.autocomplete-select-selected
  garamond()
  text-transform none
  letter-spacing 0
  padding 5px 20px 7px 10px
  position relative
  cursor pointer
  color purple-color
  overflow ellipsis
  &:focus
    border-color gray-light-color

.autocomplete-select-remove
  background transparent center center no-repeat url("/icons/remove_g.svg")
  position absolute
  right 0
  border 0
  height 35px
  width @height
  top 0
  background-size 13px
  outline none
  cursor pointer
