@import '../stylus_lib'

.autocomplete-select[data-state='selected']
  .twitter-typeahead
    display none
  &-input
    display none
  &-selected
    display block

.autocomplete-select[data-state='empty']
  &-input, .twitter-typeahead input
    display block
  &-selected
    display none

.autocomplete-select-selected
  garamond()
  text-transform none
  letter-spacing 0
  padding 5px 20px 7px 10px
  position relative
  cursor pointer
  color purple-color
  overflow ellipsis
  margin-bottom 10px
  &:focus
    border-color gray-light-color

.autocomplete-select-selected + .twitter-typeahead input
  margin-top 0
