@import '../../stylus_lib'

.edit-section__placeholder
  min-height 150px
  display flex
  justify-content center
  align-items center

#edit-content
  div[class*="caption__CaptionContainer-"]
    > div
      min-width 100%
    a
      background-size 1px 1px
