@import '../../stylus_lib'

#layout-sidebar
  background black
  color white
  position fixed
  top 0
  left 0
  width sidebar-width
  height 100%
  text-align center
  padding-top 20px
  a:not(#layout-sidebar-home)
    display block
    margin-top 40px
    avant-garde()
    font-size 10px
    color gray-dark-color
    transition color 0.3s
    text-decoration none
    &:hover, &.is-active
      cursor pointer
      color white
      svg
        fill-color white
  svg
    width 22px
    display inline-block
    margin-bottom 10px
    fill-color gray-dark-color

#layout-sidebar-new-post
  margin-top 30px !important
  svg
    width 26px
    margin-left 3px

#layout-sidebar-help svg
  width 14px

#layout-sidebar-home
  garamond()
  font-weight bold
  svg
    width 38px
    margin-left 10px
    margin-bottom 5px
    fill-color white