@import '../../stylus_lib'

#layout-sidebar
  background black
  color white
  position absolute
  top 0
  left 0
  width sidebar-width
  height 100%
  text-align center
  padding-top 20px
  a:not(#layout-sidebar-home)
    display block
    margin-top 40px
    avant-garde()
    font-size 10px
  svg
    height 30px
    display inline-block
    margin-bottom 10px
    *
      fill white

#layout-sidebar-home
  garamond()
  font-weight bold
  svg
    height 40px
    margin-bottom 3px
