@import '../../stylus_lib'

#layout-sidebar
  background black
  color white
  position fixed
  top 0
  left 0
  width sidebar-width
  height 100%
  text-align center
  padding-top 20px
  a:not(#layout-sidebar-home), #layout-sidebar-profile
    display block
    margin-top 40px
    avant-garde()
    font-size 10px
    color gray-dark-color
    transition color 0.3s
    text-decoration none
    &:hover, &.is-active
      cursor pointer
      color white
      svg
        fill-color white
  svg
    width 22px
    display inline-block
    margin-bottom 10px
    fill-color gray-dark-color

#layout-sidebar-new-post
  margin-top 30px !important
  svg
    width 26px
    margin-left 3px

#layout-sidebar-help svg
  width 14px

#layout-sidebar-home
  garamond()
  font-weight bold
  text-decoration none
  color white
  svg
    width 38px
    margin-left 10px
    margin-bottom 5px
    fill-color white

#layout-sidebar-profile
  position relative
  img
    border-radius 100px
    width 50px
    display inline-block
    margin-bottom 10px
  &:hover #layout-sidebar-profile-menu
    display block
  #layout-sidebar-profile-menu
    position absolute
    width 200px
    background black
    left sidebar-width
    border-left 1px solid gray-darker-color
    text-align left
    top -30px
    display none
    &::before
      content '.'
      color transparent
      background url(/images/layout_profile_menu_arrow.svg) center center no-repeat
      height 30px
      width 19px
      display block
      position absolute
      top calc(50% - 15px)
      left -17px
    a
      padding 30px 30px 0 30px
      margin 0
      &:last-child
        padding-bottom 30px